<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>班级管理</title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- 引入共有的css -->
<script src="js/style.js"></script>

</head>
<body>          
    <div id="header"></div>
    <div id="main">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-tab href="#tabContent1" onclick="getClasses();">当前班级</a></li>
          <li><a data-tab href="#tabContent2" onclick="getHistoryClasses();">历史班级</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabContent1">
                <div class="container">
                    <div id="classes-search" class="row" style="margin-top: 20px;margin-bottom: 20px;">
                       <div class="col-sm-6">
                            <div class="input-group">
                                 <span class="input-group-addon"><i class="icon icon-search"></i></span>
                                 <input type="text" class="form-control" placeholder="请输入班级名称" id="s-clazz-name"> 
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="getClasses();">搜索</button>
                                 </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" type="button" onclick="showClazzModal(-1);">创建班级</button>
                        </div>
                    </div>
                    <div id="classes"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabContent2">
                <div class="container">
                     <div id="historyClasses-search" class="row" style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="col-sm-6">
                            <div class="input-group">
                                 <span class="input-group-addon"><i class="icon icon-search"></i></span>
                                 <input type="text" class="form-control" placeholder="请输入班级名称" id="s-history-clazz-name"> 
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="getHistoryClasses();">搜索</button>
                                 </span>
                            </div>
                        </div>
                    </div>
                    <div id="historyClasses">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="students-search" class="row" style="margin-top: 20px;margin-bottom: 20px;display: none;">
              <a href="javascript:goback();" class="goback" id="backId">返回</a>
              <div class="col-sm-6">
                  <div class="input-group">
                       <span class="input-group-addon"><i class="icon icon-search"></i></span>
                       <input type="text" class="form-control" placeholder="请输入学生姓名" id="s-student-name"> 
                       <span class="input-group-btn">
                          <button class="btn btn-default" type="button" onclick="getStudents();">搜索</button>
                       </span>
                  </div>
              </div>
              <div class="col-sm-4 history-invisible">
                  <button class="btn btn-success" type="button" onclick="showRemainderUserListModal(-1);">添加学生</button>
                  <button class="btn btn-success" type="button" onclick="deleteStudentsBatch('dStudentCheckBox');">移出学生</button>
              </div>
            </div>
            <div id="students"></div>
        </div>
        
        <!-- 添加、修改班级信息对话框HTML -->
        <div class="modal fade" id="clazzModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">班级信息</h4>
                    </div>
                    <div class="modal-body">
                        <form id="clazz-form" class="form-horizontal">
                            <input type="hidden" id="clazz-id" name="clazzId" value="">
                            <div class="form-group">
                                <label for="clazz-name" class="col-sm-3 control-label required">班级名称</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="clazz-name"
                                        name="clazzName" maxlength="36" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="grade" class="col-sm-3 control-label required">年级</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="grade"
                                        name="grade" maxlength="16" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="start-time" class="col-sm-3 control-label required">有效时间起</label>

                                <div class="col-sm-8">
                                    <div id="datetimepickerStart" class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                       <input class="form-control" size="10" type="text" id="start-time" name="startTime" value="" readonly>
                                       <span class="input-group-addon"><i class="icon-remove"></i></span>
                                       <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                   </div>
                                </div>
                            </div>    
                            <div class="form-group">
                                <label for="end-time" class="col-sm-3 control-label required">有效时间止</label>
                                
                                <div class="col-sm-8">
                                    <div id="datetimepickerEnd" class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                       <input class="form-control" size="10" type="text" id="end-time" name="endTime" value="" readonly>
                                       <span class="input-group-addon"><i class="icon-remove"></i></span>
                                       <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                   </div>
                                </div>
                            </div>                                
                            <div class="form-group">
                                <label for="remark" class="col-sm-3 control-label">备注</label>

                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" maxlength="256" id="remark" name="remark" placeholder="可以输入多行文本"></textarea>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="saveClazz();">保存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 延长历史班级有效期对话框HTML -->
        <div class="modal fade" id="historyClazzModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">延长班级有效期</h4>
                    </div>
                    <div class="modal-body">
                        <form id="his-clazz-form" class="form-horizontal">
                            <input type="hidden" id="his-clazz-id" name="clazzId" value="">
                            <div class="form-group">
                                <label for="his-end-time" class="col-sm-3 control-label required">有效期截止时间</label>
                                
                                <div class="col-sm-8">
                                    <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                                       <input class="form-control" size="10" type="text" id="his-end-time" name="endTime" value="" readonly>
                                       <span class="input-group-addon"><i class="icon-remove"></i></span>
                                       <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                   </div>
                                </div>
                            </div> 
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="extendEffectiveTime();">保存</button>
                    </div>
                </div>
            </div>
        </div>
    
       <!-- 添加学生对话框HTML -->
       <div class="modal fade" id="remainderUserListModal">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">
                           <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                       </button>
                       <div class="row">
                           <div class="col-sm-5 col-sm-offset-1">
                               <select id="gradeSelect" class="form-control" onchange="initSelect('grade');getRemainderUserList();getMajorSelectList('majorSelect');"><option value="">全部年级</option></select>
                           </div>
                           <div class="col-sm-5">
                               <select id="majorSelect" class="form-control" onchange="initSelect('major');getRemainderUserList();getRealClassSelectList('realClassSelect');"><option value="">全部专业</option></select>
                           </div>
                       </div>
                       <div class="col-sm-3">
                           <select id="realClassSelect" class="form-control" onchange="getRemainderUserList();"><option value="">全部班级</option></select>
                       </div>
                       <div class="row" style="margin-top: 15px;">
                           <div class="col-sm-5 col-sm-offset-1">
                               <select id="realClassSelect" class="form-control" onchange="getRemainderUserList();"><option value="">全部班级</option></select>
                           </div>
                           <div class="col-sm-5">
                               <div class="input-group">
                                    <span class="input-group-addon"><i class="icon icon-search"></i></span>
                                    <input type="text" class="form-control" placeholder="请输入学生姓名" id="s-user-name"> 
                                    <span class="input-group-btn">
                                       <button class="btn btn-default" type="button" onclick="getRemainderUserList(1);">搜索</button>
                                    </span>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="modal-body" style="overflow-y: auto;height: 380px;">
                       <div id="users"></div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                       <button type="button" class="btn btn-primary" onclick="saveStudentsBatch('studentCheckBox');">加入</button>
                   </div>
               </div>
           </div>
       </div>
      </div>
    </div>
    <div id="footer" class="text-center"></div>
    
    <!-- js文件放底部 -->
    <!-- 共有的js引用commos.js -->
    <script src="js/common.js"></script>
    <!--  各个页面单独用的js 各自引入-->
    <script id="classes-template" type="text/html">
   {{if classes!=null && classes.length>0}}
   {{each classes as clazz i}}
    <div class="card panel panel-primary">
        <div class="panel-heading">
            <span class="panel-title"><i class="icon icon-flag"></i> 
                <a class="" href="javascript:showClassStudentList('{{clazz.clazzId}}');" title="{{clazz.grade}}{{clazz.clazzName}}">{{clazz.grade}}{{clazz.clazzName}}</a>
            </span>
            <span title="有效期：{{clazz.startTime}} ~ {{clazz.endTime}}">({{clazz.startTime}} ~ {{clazz.endTime}})</span>
            <span class="btn-group btn-group-xs" role="group" style="float:right;">
                <a class="btn btn-default" href="javascript:showClazzModal('{{i}}');" role="button" title="修改班级信息">
                  <span class="text-primary"><i class="icon icon-edit"></i></span></a>
                <a class="btn btn-default" href="javascript:deleteClazz('{{clazz.clazzId}}');" role="button" title="删除班级信息">
                  <span class="text-primary"><i class="icon icon-trash"></i></span></a>
            </span>
        </div>
        <table class="table table-bordered" style="text-align: center;">
            <tbody>
            <tr>
                <td style="width:10%;">学生人数</td>
                <td style="width:10%;">年级</td>
                <td style="width:15%;">班级名称</td>
                <td style="width:10%;">班级授权码</td>
                <td style="width:10%;">作业数量</td>
                <td style="width:10%;">成绩报告</td>
            </tr>
            <tr>
                <td>{{clazz.studentCount}}</td>
                <td>{{clazz.grade}}</td>
                <td>{{clazz.clazzName}}</td>
                <td>{{clazz.code}}</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
         </table>
    </div>
   {{/each}}
   {{else}}
       <div style="padding: 100px 200px;">
          <img class="nodata" src="image/nodata.png" alt="暂无数据" title="暂无数据">
       </div>
   {{/if}}
    </script>
    <script id="historyClasses-template" type="text/html">
   {{if historyClasses!=null && historyClasses.length>0}}
   {{each historyClasses as clazz i}}
    <div class="card panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="icon icon-flag"></i> 
                <a class="" href="javascript:showClassStudentList('{{clazz.clazzId}}');" title="{{clazz.grade}}{{clazz.clazzName}}">{{clazz.grade}}{{clazz.clazzName}}</a>
            </span>
            <span title="有效期：{{clazz.startTime}} ~ {{clazz.endTime}}">({{clazz.startTime}} ~ {{clazz.endTime}})</span>
            <span class="btn-group btn-group-xs" role="group" style="float:right;">
                <a class="btn btn-default" href="javascript:showHistoryClazzModal('{{i}}');" role="button" title="延长有效期">
                  <span class="text-primary"><i class="icon icon-edit"></i></span></a>
            </span>
        </div>
        <table class="table table-bordered" style="text-align: center;">
            <tbody>
            <tr>
                <td style="width:10%;">学生人数</td>
                <td style="width:10%;">年级</td>
                <td style="width:15%;">班级名称</td>
                <td style="width:10%;">班级授权码</td>
                <td style="width:10%;">作业数量</td>
                <td style="width:10%;">成绩报告</td>
            </tr>
            <tr>
                <td>{{clazz.studentCount}}</td>
                <td>{{clazz.grade}}</td>
                <td>{{clazz.clazzName}}</td>
                <td>{{clazz.code}}</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
         </table>
    </div>
   {{/each}}
   {{else}}
       <div style="padding: 100px 200px;">
          <img class="nodata" src="image/nodata.png" alt="暂无数据" title="暂无数据">
       </div>
   {{/if}}
    </script>
    <script id="students-template" type="text/html">
      <table class="table datatable" data-sortable="true">
      <thead>
        <tr>
           <th data-width="6%" data-sort="false" style="text-align: center;" class="history-invisible"><a href="javascript:checkAll('dStudentCheckBox');" title="全选">全选</a>
            / <a href="javascript:otherCheck('dStudentCheckBox');" title="反选">反选</a></th>
           <th data-width="6%" data-type="number" style="text-align: center;">序号</th>
           <th data-width="15%">用户名</th>
           <th data-width="10%">姓名</th>
           <th data-width="8%">性别</th>
           <th data-width="10%">专业</th>
           <th data-width="20%" data-type="date" style="text-align: center;"><i class="icon icon-time"></i>最后登录时间</th>
        </tr>
      </thead>
      <tbody>
        {{each students as student i}}
        <tr>
           <td style="text-align: center;" class="history-invisible"><input type="checkbox" name="dStudentCheckBox" value="{{student.userId}}"></td>
           <td style="text-align: center;">{{i+1}}</td>
           <td>{{student.userId}}</td>
           <td>{{student.name}}</td>
           <td>{{getSexLabel(student.sex)}}</td>
           <td>{{student.major}}</td>
           <td  style="text-align: center;">{{student.lastLoginTime}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    </script>
    <script id="users-template" type="text/html">
      <table class="table table-hover">
      <thead>
        <tr>
           <th>序号</th>
           <th>用户名</th>
           <th>姓名</th>
           <th>专业</th>
           <th>年级</th>
           <th>班级</th>
           <th style="text-align: center;">
            <a href="javascript:checkAll('studentCheckBox');" title="全选">全选</a>
            / <a href="javascript:otherCheck('studentCheckBox');" title="反选">反选</a>
           </th>
        </tr>
      </thead>
      <tbody>
        {{each users as user i}}
        <tr>
           <td>{{i+1}}</td>
           <td>{{user.userId}}</td>
           <td>{{user.name}}</td>
           <td>{{user.major}}</td>
           <td>{{user.realGrade}}</td>
           <td>{{user.realClass}}</td>
           <td style="text-align: center;"><input type="checkbox" name="studentCheckBox" value="{{user.userId}}"></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    </script>
    <script type="text/javascript">
        $(function() {
            $('#header').load('header.html');
            $('#footer').load('footer.html');
            getClasses();
        });
        
        template.helper('getSexLabel', function (sex) {
            if (sex == 1) {
                return '女';
            } else if (sex == 2) {
                return '男';
            }
        });
        
        <!--获取班级列表-->
        var classes;
        function getClasses() {
            $("#classes-search").show();
            $("#students-search").hide();
            $('#students').html('');
            $.ajax({
                type: "GET",
                data:{ clazzName : $("#s-clazz-name").val(),isHistory:0},
                url: serverUrl+'classes',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        classes = data['data'];
                        $('#classes').html(template('classes-template', {classes: classes}));
                    } else {
                        new $.zui.Messager('获取班级列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--获取历史班级列表-->
        var historyClasses;
        function getHistoryClasses(){
            $("#historyClasses-search").show();
            $("#students-search").hide();
            $('#students').html('');
            $.ajax({
                type: "GET",
                data:{ clazzName : $("#s-history-clazz-name").val(),isHistory:1},
                url: serverUrl+'classes',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        historyClasses = data['data'];
                        $('#historyClasses').html(template('historyClasses-template', {historyClasses: historyClasses}));
                    } else {
                        new $.zui.Messager('获取历史班级列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--保存班级信息-->
        function saveClazz(){
            if (!$.trim($('#clazz-name').val())) {
                new $.zui.Messager('请填写班级名称', zuiMessager.fail).show();
                $('#clazz-name').focus();
                return;
            }
            if (!$.trim($('#grade').val())) {
                new $.zui.Messager('请填写年级', zuiMessager.fail).show();
                $('#grade').focus();
                return;
            }
            if (!$.trim($('#start-time').val())) {
                new $.zui.Messager('请选择有效时间', zuiMessager.fail).show();
                $('#start-time').focus();
                return;
            }
            if (!$.trim($('#end-time').val())) {
                new $.zui.Messager('请选择有效时间', zuiMessager.fail).show();
                $('#end-time').focus();
                return;
            }
            
            var typeParam;
            var urlParam;
            if (!$('#clazz-id').val()) {
                typeParam = 'POST';
                urlParam = 'classes';
            } else {
                typeParam = 'PUT';
                urlParam = 'classes/' + $('#clazz-id').val();
            }
            $.ajax({
                type: typeParam,
                url: serverUrl+urlParam,
                data: JSON.stringify($('#clazz-form').serializeObject()),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        if (data['status'] == 200) {
                            new $.zui.Messager('已存在'+$('#grade').val()+$('#clazz-name').val(),zuiMessager.fail ).show();
                        }else{
                            $('#clazzModal').modal('hide');
                            new $.zui.Messager('保存班级成功',zuiMessager.success ).show();
                            getClasses();
                        }
                    } else {
                        new $.zui.Messager('保存班级失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        <!--删除班级信息-->
        function deleteClazz(id){
            bootbox.confirm('确认删除该班级吗？', function(result){
                if(result){
                    $.ajax({
                        type: 'DELETE',
                        url: serverUrl+'classes/' + id,
                        async: true,
                        beforeSend: $.beforeSend,
                        success: function (data) {
                            if (data['status'] < 400) {
                                getClasses();
                                new $.zui.Messager('删除班级成功', zuiMessager.success).show();
                            } else {
                                new $.zui.Messager('删除班级失败', zuiMessager.fail).show();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            gz.logger(textStatus);
                            gz.logger(errorThrown);
                        }
                    });
                }else{
                    return;
                }
            });
        }
        
        <!--显示班级信息的操作窗口-->
        function showClazzModal(index) {
            $('#clazzModal').modal('show');
            document.getElementById('clazz-form').reset();
            $('#datetimepickerStart .input-group-addon:has(i.icon-remove)').click();
            $('#datetimepickerEnd .input-group-addon:has(i.icon-remove)').click();
            if (index === -1) {//新增
                $('#clazz-id').val('');
            } else {
                $('#clazz-id').val(classes[index]['clazzId']);
                $('#clazz-name').val(classes[index]['clazzName']);
                $('#grade').val(classes[index]['grade']);
                $('#start-time').val(classes[index]['startTime']);
                $('#end-time').val(classes[index]['endTime']);
                $('#remark').val(classes[index]['remark']);
            }
            initDatetimepicker();
        }
        
        <!--显示延长班级有效期的操作窗口-->
        function showHistoryClazzModal(index){
            $('#historyClazzModal').modal('show');
            $('#his-clazz-id').val(historyClasses[index]['clazzId']);
            $('#his-end-time').val(historyClasses[index]['endTime']);
            $('.form_date').datetimepicker({
                language: "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView:2,
                forceParse: 0
            })
        }
        
        <!--延长班级有效期-->
        function extendEffectiveTime(){
            if (!$.trim($('#his-end-time').val())) {
                new $.zui.Messager('请选择有效期截止时间', zuiMessager.fail).show();
                $('#his-end-time').focus();
                return;
            }
            $.ajax({
                type: 'PUT',
                url: serverUrl+'classes/' + $('#his-clazz-id').val(),
                data: JSON.stringify($('#his-clazz-form').serializeObject()),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#historyClazzModal').modal('hide');
                        new $.zui.Messager('延长班级有效期成功',zuiMessager.success ).show();
                        getHistoryClasses();
                    } else {
                        new $.zui.Messager('延长班级有效期失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--显示指定班级下的学生列表-->
        var clazzId;
        function showClassStudentList(id){
            clazzId = id;
            $('#classes').html('');
            $('#historyClasses').html('');
            $("#s-student-name").val('')
            getStudents();
        }
        <!--获取学生列表-->
        var students;
        function getStudents() {
            $("#classes-search").hide();
            $("#historyClasses-search").hide();
            $("#students-search").show();
            if("undefined" == typeof clazzId || clazzId==''){
                new $.zui.Messager('未选中班级', zuiMessager.fail).show();
                return;
            }
            $.ajax({
                type: "GET",
                data:{name:$("#s-student-name").val()},
                url: serverUrl+'classes/'+clazzId+'/students',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        students = data['data'];
                        $('#students').html(template('students-template', {students: students}));
                        $('#students table.datatable').datatable();
                        if($("#tabContent2").hasClass('active')){
                            $(".history-invisible").hide();
                        }else{
                            $(".history-invisible").show();
                        }
                    } else {
                        new $.zui.Messager('获取学生列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--删除指定班级中的学生-->
        function deleteStudentsBatch(checkName){
            var chk_value =[]; 
            $('input[name='+checkName+']:checked').each(function(){ 
                chk_value.push($(this).val()); 
            });
            if (chk_value.length==0) {
                new $.zui.Messager('您还没有选择任何学生！', zuiMessager.fail).show();
                return;
            }
            if("undefined" == typeof clazzId || clazzId==''){
                new $.zui.Messager('未选中班级', zuiMessager.fail).show();
                return;
            }
            bootbox.confirm('确认移出这些学生吗？', function(result){
                if(result){
                    $.ajax({
                        type: 'DELETE',
                        url: serverUrl+'classes/'+clazzId+'/students?userIds='+JSON.stringify(chk_value),
                        dataType: "json",
                        contentType:"application/json",
                        async: true,
                        beforeSend: $.beforeSend,
                        success: function (data) {
                            if (data['status'] < 400) {
                                getStudents()
                                new $.zui.Messager('移出学生成功', zuiMessager.success).show();
                            } else {
                                new $.zui.Messager('移出学生失败', zuiMessager.fail).show();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            gz.logger(textStatus);
                            gz.logger(errorThrown);
                        }
                    });
                }else{
                    return;
                }
            });
        }
        
        <!--显示添加学生的窗口-->
        function showRemainderUserListModal(index) {
            $('#remainderUserListModal').modal('show');
            
            getRealGradeSelectList('gradeSelect');

            $("#gradeSelect option:first").prop("selected",true);
            
            var selec = $("#majorSelect");
            selec.empty();
            selec.append("<option value=''>全部专业</option>");
            
            selec = $("#realClassSelect");
            selec.empty();
            selec.append("<option value=''>全部班级</option>");
            
            $("#s-user-name").val('');
            
            $('#users').html('<div style="text-align: center;font-size: 20px;">请选择搜索条件查找学生！</div>');
        }
        
        <!--获取剩余学生用户列表-->
        var users;
        function getRemainderUserList(flag) {
            if("undefined" == typeof clazzId || clazzId==''){
                new $.zui.Messager('未选中班级', zuiMessager.fail).show();
                return;
            }
            if("undefined" != typeof flag && flag == 1){
                if($("#s-user-name").val()==''){
                  new $.zui.Messager('请输入学生姓名！', zuiMessager.fail).show();
                  return;
                }
            }
            $.ajax({
                type: "GET",
                data:{
                    name:$("#s-user-name").val(),
                    grade:$('#gradeSelect option:selected').val(),
                    major:$('#majorSelect option:selected').val(),
                    realClass:$('#realClassSelect option:selected').val()
                },
                url: serverUrl+'classes/'+clazzId+'/remainders',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        users = data['data'];
                        $('#users').html(template('users-template', {users: users}));
                    } else {
                        new $.zui.Messager('获取用户列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--往指定班级中添加学生-->
        function saveStudentsBatch(checkName){
            var chk_value =[]; 
            $('input[name='+checkName+']:checked').each(function(){ 
                chk_value.push($(this).val()); 
            });
            if (chk_value.length==0) {
                new $.zui.Messager('您还没有选择任何学生！', zuiMessager.fail).show();
                return;
            }
            if("undefined" == typeof clazzId || clazzId==''){
                new $.zui.Messager('未选中班级', zuiMessager.fail).show();
                return;
            }
            $.ajax({
                type: 'POST',
                url: serverUrl+'classes/'+clazzId+'/students',
                data: {userIds:JSON.stringify(chk_value)},
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#remainderUserListModal').modal('hide');
                        getStudents();
                        new $.zui.Messager('添加学生成功',zuiMessager.success ).show();
                    } else {
                        new $.zui.Messager('添加学生失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--全选-->
        function checkAll(checkName){
            $("input[name="+checkName+"]").each(function() {
                this.checked=true;
            });
        }
        
        <!--反选-->
        function otherCheck(checkName){
            $("input[name="+checkName+"]").each(function() {
                if(this.checked==true){ 
                    this.checked=false;
                }else{
                    this.checked=true;
                }
            });
        }
        
        /*选择年级之前，初始化专业和班级选中项*/
        function initSelect(flag) {
            if(flag == 'grade') {
                $("#majorSelect option:first").prop("selected",true);
                $("#realClassSelect option:first").prop("selected",true);
            }else if(flag == 'major') {
                $("#realClassSelect option:first").prop("selected",true);
            }
        }
        
        <!--获取真实年级下拉列表-->
        function getRealGradeSelectList(selectId){
            $.ajax({
                type: 'GET',
                url: serverUrl+'users/realGrades',
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    var selec = $("#"+selectId)
                    selec.empty();
                    selec.append("<option value=''>全部年级</option>");
                    $.each(data['data'],function(i,value){
                        selec.append("<option value='"+value+"'>"+value+"</option>");
                    });
                }
            });
        }
        
        <!--获取专业下拉列表-->
        function getMajorSelectList(selectId){
            var selec = $("#realClassSelect");
            selec.empty();
            selec.append("<option value=''>全部班级</option>");
            
            var realGrade = $("#gradeSelect :selected").val();
            $.ajax({
                type: 'GET',
                url: serverUrl+'users/majors?realGrade='+realGrade,
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        var selec = $("#"+selectId);
                        selec.empty();
                        selec.append("<option value=''>全部专业</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value+"'>"+value+"</option>");
                        });
                    } else {
                        new $.zui.Messager('获取专业下拉列表失败', zuiMessager.fail).show();
                    }
                }
            });
        }
        
        <!--获取班级下拉列表-->
        function getRealClassSelectList(selectId){
            $.ajax({
                type: 'GET',
                url: serverUrl+'users/realClasses',
                data:{
                    realGrade:$("#gradeSelect :selected").val(),
                    major:$('#majorSelect option:selected').val()
                },
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        var selec = $("#"+selectId);
                        selec.empty();
                        selec.append("<option value=''>全部班级</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value+"'>"+value+"</option>");
                        });
                    } else {
                        new $.zui.Messager('获取班级下拉列表失败', zuiMessager.fail).show();
                    }
                }
            });
        }
        
        function goback(){
            if($("#tabContent1").hasClass('active')){
                getClasses();
            }
            if($("#tabContent2").hasClass('active')){
                getHistoryClasses();
            }
        }
       
        function initDatetimepicker(){
            <!--选择日期-->
            $('#datetimepickerStart').datetimepicker({
                language: "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView:2,
                forceParse: 0
            }).on('click',function(e){
                 $("#datetimepickerStart").datetimepicker("setEndDate",$("#end-time").val());
            });
            
            $('#datetimepickerEnd').datetimepicker({
                language: "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView:2,
                forceParse: 0
            }).on('click',function(e){
                 $('#datetimepickerEnd').datetimepicker('setStartDate', $("#start-time").val());
            });
        }
    </script>
</body>
</html>
