<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>考试管理</title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="lib/kindeditor/kindeditor.min.css" type="text/css" rel="stylesheet">

<!-- 引入共有的css(css文件) -->
<script src="js/style.js"></script>

</head>
<body>
    <div id="header"></div>
    <div id="main">
        <div class="container" id="exam-list-container">
            <div id="exams-search" class="row" style="margin-top: 20px;margin-bottom: 20px;">
               <div class="col-sm-4">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="icon icon-search"></i></span>
                         <select id="s-year-select" name="" class="form-control" onchange="getExams();"></select>
                    </div>
               </div>
               <div class="col-sm-3">
                    <select id="s-skill-select" name="s-skill" class="form-control chosen-select" onchange="getExams();"></select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success" type="button" onclick="showExamModal(-1);">创建考试</button>
                </div>
            </div>
            <div>
              <table class="table table-hover table-fixed" id="exams-table" data-func="getExams">
               <thead>
                 <tr>
                    <th style="text-align: center;width:5%;">序号</th>
                    <th style="width:6%;">考试技能<i class="sort-flag icon icon-sort btn-link" data-sortkey="skill"></i></th>
                    <th style="width:18%;"><i class="icon icon-time"></i>考试时间<i class="sort-flag icon icon-sort btn-link" data-sortkey="end_date"></i></th>
                    <th style="text-align: center;width:6%;">是否过期<i class="sort-flag icon icon-sort btn-link" data-sortkey="is_overdue"></i></th>
                    <th style="text-align: center;width:6%;">考试状态<i class="sort-flag icon icon-sort btn-link" data-sortkey="exam_status"></i></th>
                    <th style="text-align: center;width:7%;">未开始人数<i class="sort-flag icon icon-sort btn-link" data-sortkey="unFinished_count"></i></th>
                    <th style="text-align: center;width:7%;">进行中人数<i class="sort-flag icon icon-sort btn-link" data-sortkey="onGoing_count"></i></th>
                    <th style="text-align: center;width:7%;">已完成人数<i class="sort-flag icon icon-sort btn-link" data-sortkey="finished_count"></i></th>
                    <th style="text-align: center;width:20%;">操作</th>
                 </tr>
               </thead>
               <tbody id="exams"></tbody>
              </table>
              <div style="width:90%; margin:auto;"><div id="kkpager"></div></div>
            </div>
        </div>
        <!-- 添加、修改考试信息 对话框HTML -->
        <div class="modal fade" id="examModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">考试信息</h4>
                    </div>
                    <div class="modal-body">
                        <form id="exam-form" class="form-horizontal">
                            <input type="hidden" id="exam-id" name="examId" value="">
                            <div class="form-group">
                                <label for="skillSelect" class="col-sm-3 control-label required">考试技能</label>

                                <div class="col-sm-8">
                                    <div id="skillSelect"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="begin-date" class="col-sm-3 control-label required">开始时间</label>

                                <div class="col-sm-8">
                                    <div id="datetimepickerStart" class="input-group date form_datetime" data-date-format="yyyy-mm-dd 00:00">
                                       <input class="form-control" size="10" type="text" id="begin-date" name="beginDate" value="" readonly>
                                       <span class="input-group-addon"><i class="icon-remove"></i></span>
                                       <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                   </div>
                                </div>
                            </div>    
                            <div class="form-group">
                                <label for="end-date" class="col-sm-3 control-label required">结束时间</label>
                                
                                <div class="col-sm-8">
                                    <div id="datetimepickerEnd" class="input-group date form_datetime" data-date-format="yyyy-mm-dd 23:59">
                                       <input class="form-control" size="10" type="text" id="end-date" name="endDate" value="" readonly>
                                       <span class="input-group-addon"><i class="icon-remove"></i></span>
                                       <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                   </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="attentions" class="col-sm-3 control-label">注意事项</label>

                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" maxlength="256" id="attentions" name="attentions"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-sm-3 control-label">备注</label>

                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" maxlength="256" id="remark" name="remark"></textarea>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="saveExam();">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学生列表 对话框HTML -->
        <div class="modal fade" id="userListModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="userListModalTitle"></h4>
                    </div>
                    <div class="modal-body" id="userListModalBody" style="width:100%;height: 400px;overflow-y: auto;"></div>
                    <div class="modal-footer" id="userListModalFooter"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footer" class="text-center"></div>    
    
    <!-- js文件放底部 -->
    <!-- 共有的js引用commos.js -->
    <script src="js/common.js"></script>
    <!--  各个页面单独用的js 各自引入-->
    <script src="lib/kindeditor/kindeditor.min.js"></script>
    <script src="js/sort_listener_events.js" type="text/javascript"></script>
    <script id="exams-template" type="text/html">
      {{if exams!=null && exams.length>0}}
        {{each exams as exam i}}
        <tr>
           <td style="text-align: center;">{{exam.order}}</td>
           <td>{{getSkillLabel(exam.skill)}}</td>
           <td>{{exam.beginDate}}~{{exam.endDate}}</td>
           <td style="text-align: center;">{{#getIsOverdueLabel(exam.isOverdue)}}</td>
           <td style="text-align: center;">{{#getExamStatusLabel(exam.examStatus,exam.examId)}}</td>
           <td style="text-align: center;">
              <button class="btn btn-mini btn-link" onclick="showUserListModal('{{exam.examId}}',0);">{{exam.unFinishedCount}}</button>
           </td>
           <td style="text-align: center;">
              <button class="btn btn-mini btn-link" onclick="showUserListModal('{{exam.examId}}',1);">{{exam.onGoingCount}}</button>
           </td>
           <td style="text-align: center;">
              <button class="btn btn-mini btn-link" onclick="showUserListModal('{{exam.examId}}',2);">{{exam.finishedCount}}</button>
           </td>
           <td style="text-align: center;">
             <button class="btn btn-mini {{if !(exam.examStatus==0 || exam.examStatus==1) || exam.isOverdue==1}}disabled{{/if}}" onclick="showExamUserModal('{{exam.examId}}');" 
                title="考生管理">考生管理</button>
             <button class="btn btn-mini {{if exam.examStatus!=0 || exam.isOverdue==1}}disabled{{/if}}" type="button" onclick="updataExamStatus('{{exam.examId}}',1);" title="发布考试">发布</button>
             <button class="btn btn-mini {{if exam.examStatus!=1}}disabled{{/if}}" type="button" onclick="updataExamStatus('{{exam.examId}}',2);" title="终止考试">终止</button>
             <button class="btn btn-mini {{if exam.examStatus!=0}}disabled{{/if}}" onclick="showExamModal('{{i}}');" title="修改">修改</button>
             <button class="btn btn-mini {{if exam.examStatus!=0}}disabled{{/if}}" onclick="deleteExam('{{exam.examId}}');" title="删除">删除</button>
           </td>
        </tr>
        {{/each}}
    {{else}}
       <tr><td colspan="9" style="text-align: center;" class="danger">对不起！没有找到您要的数据。</td></tr>
    {{/if}}
    </script>
    <script id="students-status-template" type="text/html">
    <div id="msg-box" style="width: 100%; margin-bottom: 20px"  {{if data.status!=0}}class="hidden"{{/if}}>
        <div id="msg-theme" style="margin-bottom: 20px;">
            <span style="font-size: 16px;">主题：</span>
            <input id="msg-title" type="text" style="width: 90%; min-height: 30px; border-style: none; border-bottom-style: groove"></input>
        </div>
        <div id="msg-main">
            <textarea id="msg-content" class="form-control kindeditor" style="width:100%; height:200px; visibility:hidden;">
            </textarea>
        </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
           <th style="text-align: center;">序号</th>
           <th>用户名</th>
           <th>姓名</th>
           {{if data.status==0}}
                <th data-width="6%" style="text-align: center;">
                    <a href="javascript:checkAll('send-message');" title="全选">全选</a>
                    / <a href="javascript:otherCheck('send-message');" title="反选">反选</a>
                </th>
           {{/if}}
           {{if data.status==2}}<th>作答时长</th>{{/if}}
        </tr>
      </thead>
      <tbody>
        {{each data.students as student i}}
        <tr>
           <td style="text-align: center;">{{i+1}}</td>
           <td>{{student.userId}}</td>
           <td>{{student.name}}</td>
           {{if data.status==0}}
             <td style="text-align: center;">
                <input type="checkbox" name="send-message" value="{{student.userId}}">
             </td>
           {{/if}}
           {{if data.status==2}}<td>{{student.usedTime}}</td>{{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    </script>
    <script type="text/javascript">
        var role = $.cookie(cookieUserRoleKey);
        $(function() {
            $('#header').load('header.html');
            $('#footer').load('footer.html');
            
            $('#s-year-select').getYearSelectList(true);
            
            $('#s-year-select').chosen({
                allow_single_deselect:true,//设置为 true 时非必选的单选框会显示清除选中项图标
                placeholder_text:'选择时间范围……',//单选框没有选中项时显示的占位文字
                no_results_text: '没有找到',// 没有搜索到匹配项时显示的文字
                disable_search_threshold: 10, //  少于 n 项时隐藏搜索框
                search_contains: true  // 从任意位置开始检索
            });
            
            getSkillSelectList('s-skill-select');
            getExams();
        });
        
        template.helper('getExamStatusLabel', function (status,examId) {
            if (status == 0) {
                return '<span class="label label-badge label-danger">未发布</span>';
            } else if (status == 1) {
                return '<span class="label label-badge label-success">已发布</span>';
            } else if (status == 2) {
                return '<span class="label label-badge">已终止</span>';
            }
        });
        
        template.helper('getSkillLabel', gz.getSkillLabel);
        
        template.helper('getIsOverdueLabel', function (flag) {
            if (flag == 1) {
                return '<span class="label label-badge label-danger">是</span>';
            } else if (flag == 0) {
                return '<span class="label label-badge label-primary">否</span>';
            }
        });
        
        <!--获取考试列表-->
        var exams;
        function getExams(n,size) {
            var pageNo = 1;
            if(typeof(n) != "undefined" && n != null){
                pageNo = n;
            }
            var pageSize = gz.defaultPageSize;
            if(typeof(size) != "undefined" && size != null){
                pageSize = size;
            }
            var sortKey = $("table#exams-table").data("sortkey");
            var sortType = $("table#exams-table").data("sorttype");
            $.ajax({
                type: "GET",
                data:{ skill : $.trim($('#s-skill-select option:selected').val()),
                       dateRange : $.trim($('#s-year-select option:selected').val()),
                       isHistory:0,
                       pageNo:pageNo,
                       pageSize:pageSize,
                       sortKey:sortKey,
                       sortType:sortType},
                url: serverUrl+'exams',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        exams = data['data']['list'];
                        $('#exams').html(template('exams-template', {exams: exams}));
                        //分页控件
                        var totalRecords = data['data']['count'];
                        initPage(pageNo, totalRecords, pageSize, getExams);
                    }else{
                        new $.zui.Messager('获取考试列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--显示考试信息的操作窗口-->
        function showExamModal(index) {
            $('#examModal').modal('show');
            document.getElementById('exam-form').reset();
            $('#datetimepickerStart .input-group-addon:has(i.icon-remove)').click();
            $('#datetimepickerEnd .input-group-addon:has(i.icon-remove)').click();
            if (index === -1) {//新增
                $('#exam-id').val('');
                $("#skillSelect").html('');
                $.each(gz.skill,function(i,value){
                    $("#skillSelect").append('<label class="checkbox-inline"><input name="skillCheck" type="checkbox" value="'+value.key+'">'+value.name+'</label>');
                });
            } else {
                $("#skillSelect").html('<label style="padding-top: 6px;font-weight: 400;">'+gz.getSkillLabel(exams[index]['skill'])+'</label>');
                $('#exam-id').val(exams[index]['examId']);
                $('#exam-name').val(exams[index]['examName']);
                $('#duration').val(exams[index]['duration']);
                $('#begin-date').val(exams[index]['beginDate']);
                $('#end-date').val(exams[index]['endDate']);
                $('#attentions').val(exams[index]['attentions']);
                $('#remark').val(exams[index]['remark']);
            }
            initDatetimepicker();
        }
        
        <!--保存考试信息-->
        function saveExam(){
            if (!$('#exam-id').val()) {
                var chk_value =[]; 
                $('input[name="skillCheck"]:checked').each(function(){ 
                    chk_value.push($(this).val()); 
                });
                if(chk_value.length==0){
                   new $.zui.Messager('请选择考试技能', zuiMessager.fail).show();
                   $('#skillSelect').focus();
                   return;
                }
            }
            if (!$.trim($('#begin-date').val())) {
                new $.zui.Messager('请选择开始时间', zuiMessager.fail).show();
                $('#begin-date').focus();
                return;
            }
            if (!$.trim($('#end-date').val())) {
                new $.zui.Messager('请选择结束时间', zuiMessager.fail).show();
                $('#end-date').focus();
                return;
            }
            var typeParam;
            var urlParam;
            var message;
            var pageNo;
            if (!$('#exam-id').val()) {
                typeParam = 'POST';
                urlParam = 'exams/'+JSON.stringify(chk_value);
                message = '创建';
                pageNo = 1;
            } else {
                typeParam = 'PUT';
                urlParam = 'exams/' + $('#exam-id').val();
                message = '修改';
                pageNo = kkpager.pno;
            }
            $.ajax({
                type: typeParam,
                url: serverUrl+urlParam,
                data: JSON.stringify($('#exam-form').serializeObject()),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#examModal').modal('hide');
                        new $.zui.Messager(message+'考试成功',zuiMessager.success ).show();
                        getExams(pageNo);
                    } else {
                        new $.zui.Messager(message+'考试失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--获取技能下拉列表-->
        function getSkillSelectList(selectId,skill){
           var selec = $("#"+selectId);
           selec.empty();
           if(selectId=="s-skill-select"){
               selec.append("<option value=''></option>");
           }
           $.each(gz.skill,function(i,value){
               if(typeof(skill) != "undefined" && skill == value.key ){
                   selec.append("<option value='"+value.key+"'selected>"+value.name+"</option>");
               }else{
                   selec.append("<option value='"+value.key+"'>"+value.name+"</option>");
               }  
           });
           if(selectId=="s-skill-select"){
               $(selec).chosen({
                   allow_single_deselect:true,//设置为 true 时非必选的单选框会显示清除选中项图标
                   placeholder_text:'选择一项考试技能……',//单选框没有选中项时显示的占位文字
                   no_results_text: '没有找到',    // 没有搜索到匹配项时显示的文字
                   disable_search_threshold: 0, //  少于 n 项时隐藏搜索框
                   search_contains: true  // 从任意位置开始检索
               });
           }
        }
        
        <!--删除考试信息-->
        function deleteExam(id){
            bootbox.confirm('确认删除该考试吗？', function(result){
                if(result){
                    $.ajax({
                        type: 'DELETE',
                        url: serverUrl+'exams/' + id,
                        async: true,
                        beforeSend: $.beforeSend,
                        success: function (data) {
                            if (data['status'] < 400) {
                                getExams();
                                new $.zui.Messager('删除考试成功', zuiMessager.success).show();
                            } else {
                                new $.zui.Messager('删除考试失败', zuiMessager.fail).show();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            gz.logger(textStatus);
                            gz.logger(errorThrown);
                        }
                    });
                }else{
                    return;
                }
            });

        }
        
        <!--显示添加考生的操作窗口-->
        function showExamUserModal(id) {
            location.href = 'examinee.html?examId='+id;
        }
        
        function updataExamStatus(examId,examStatus){
            var msg = examStatus==1 ? '确认发布考试吗？': '确认终止考试吗？';
            bootbox.confirm(msg, function(result){
                if(result){
                    $.ajax({
                        type: 'PUT',
                        url: serverUrl+'exams/' + examId +"/" + examStatus,
                        contentType:"application/json",
                        dataType: 'json',
                        async: true,
                        beforeSend: $.beforeSend,
                        success: function (data) {
                            if (data['status'] < 400) {
                                new $.zui.Messager(examStatus==1?'发布成功':'终止成功',zuiMessager.success ).show();
                                getExams();
                            } else {
                                new $.zui.Messager(examStatus==1?'发布失败':'终止失败', zuiMessager.fail).show();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            gz.logger(textStatus);
                            gz.logger(errorThrown);
                        }
                    });
                }else{
                    return;
                }
            });

        }
        
        function showUserListModal(examId,status){
            $('#userListModal').modal('show');
            var str1 = '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>'
                      + '<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sendExamRemind()">发送</button>';
            var str2 = '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
            if(status==0){
                $('#userListModalTitle').html('考生列表【未开始】');
                $('#userListModalFooter').html(str1);
            }else if(status==1){
                $('#userListModalTitle').html('考生列表【进行中】');
                $('#userListModalFooter').html(str2);
            }else if(status==2){
                $('#userListModalTitle').html('考生列表【已完成】');
                $('#userListModalFooter').html(str2);
            }
            getExamineeListbyStatus(examId,status);
        }
        
        function getExamineeListbyStatus(examId,status){
            $.ajax({
                type: "GET",
                url: serverUrl+'exams/'+examId+'/students/'+status,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        var result = {};
                        result.students = data['data'];
                        result.status = status;
                        $('#userListModalBody').html(template('students-status-template', {data: result}));
                        
                        KindEditor.create('#msg-content', {
                            basePath: 'lib/kindeditor/',
                            allowFileManager : true,
                            bodyClass : 'article-content',
                            //编辑器失去焦点(blur)时执行的回调函数
                            items : [
                                 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                 'insertunorderedlist', '|', 'emoticons'],
                            afterBlur : function() {
                                this.sync();
                            }
                        });
                    } else {
                        new $.zui.Messager('获取考生列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        /*富文本编辑器，返回text文本*/
        function getKindEditor(kedit) {
            var editor = KindEditor.create(kedit,{
                allowPreviewEmoticons: true,
            });
            return editor.html();
        }
        
        <!--全选-->
        function checkAll(checkName){
            $("input[name="+checkName+"]").prop('checked', true);
        }
        
        <!--反选-->
        function otherCheck(checkName){
            $("input[name="+checkName+"]").each(function() {
                if(this.checked==true){ 
                    this.checked=false;
                }else{
                    this.checked=true;
                }
            });
        }
        
        function sendExamRemind(){
            var receivers = [];
            $("input[name='send-message']").each(function(i){
                var temp = {};
                if($(this).prop("checked")){
                    temp['receiverId'] = $(this).val();
                    receivers.push(temp);
                }
            });
            
            var msgTitle = $('#msg-title').val();
            var msgContent = getKindEditor("#msg-content");
            var sendType;
            if (!$.trim(msgTitle)) {
                new $.zui.Messager('请填写消息主题', zuiMessager.fail).show();
                return;
            }
            if (!$.trim(msgContent)) {
                new $.zui.Messager('请填写消息内容', zuiMessager.fail).show();
                return;
            }
            if(receivers.length === 0) {
                new $.zui.Messager('请选择收件人', zuiMessager.fail).show();
                return;
            } else if(receivers.length == 1) {
                sendType = 1; //单发
            }else {
                sendType = 2; //群发
            }
            
            var dataMap = {
                senderId: $.cookie(cookieUserIdKey),
                title : msgTitle,
                msgContent : msgContent,
                sendType: sendType,
                messageReceiverList: receivers
            }
            
            $.ajax({
                type: 'POST',
                url: 'messages',
                data: JSON.stringify(dataMap),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#msgModal').modal('hide');
                        new $.zui.Messager('发送成功',zuiMessager.success ).show();
                    } else {
                        new $.zui.Messager('发送失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        function initDatetimepicker(){
            <!--选择日期-->
            $('#datetimepickerStart').datetimepicker({
                language: "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView:2,
                forceParse: 0
            }).on('click',function(e){
                var endDate = $("#end-date").val();
                var startDate = (endDate==''?'':addMonths(endDate,-1)+ " 00:00");
                $('#datetimepickerStart').datetimepicker('setStartDate', startDate);
                $("#datetimepickerStart").datetimepicker("setEndDate",endDate);
            });
            
            $('#datetimepickerEnd').datetimepicker({
                language: "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView:2,
                forceParse: 0
            }).on('click',function(e){
                var startDate = $("#begin-date").val();
                var endDate = (startDate==''?'':addMonths(startDate,1)+ " 23:59");
                $('#datetimepickerEnd').datetimepicker('setStartDate', startDate);
                $("#datetimepickerEnd").datetimepicker("setEndDate",endDate);
            });
        }
        
        <!--将 yyyy-MM-dd字符串日期增加一个月-->
        function addMonths(str,n){
            if(str!=''){
                var year = str.substring(0, 4);
                var month = str.substring(5, 7);
                var day = str.substring(8, 10);
                var date = new Date(year,month-1,day);
                date.setMonth(date.getMonth()+n);
                date.setDate(date.getDate());
                return date.Format("yyyy-MM-dd");
            }else{
                return '';
            }
        }
        
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "h+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</body>
</html>
