<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>意见反馈</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<style type="text/css">
    #preview-title{
        height: 38px;
        line-height: 38px;
        background: #f2f2f2;
        color: #39558c;
        padding-left: 10px;
        font-size: 14px;
    }
    
    .feedback-title{
        color: #1f409c;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .feedback-content{
        margin-left: 20px;
    }
    
    .imgs-container img{
        width: 120px;
        height: 120px;
        margin-right: 20px;
        margin-top: 15px;
        cursor: pointer;  
        transition: all 0.6s;
    }
    
    .imgs-container img:hover{  
        transform: scale(4);  
    }
    
    .feedback{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    #kkpager{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 30px;
        padding: 5px;
        background-color: #f2f2f2;
    }
</style>
<script src="js/style.js"></script>

</head>
<body>
    <div id="header"></div>
    <div id="main" style="width: 60%; margin-left: 20%;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-4 col-sm-offset-8">
                <div class="input-group" style="margin-top: 10px; margin-bottom: 10px;">
                     <select id="feedback-type-select" class="form-control" onchange="searchFeedbacks();">
                        <option value="">请选择反馈类型</option>
                        <option value="1" >产品界面</option>
                        <option value="2" >产品功能</option>
                        <option value="3" >试题质量</option>
                        <option value="4" >诊断报告</option>
                        <option value="5" >其他建议</option>
                     </select>
                     <span class="input-group-addon"><i class="icon icon-search"></i></span>
                </div>
            </div>
        </div>
        <div id="feedback-preview-main">
            <div id="preview-title">
                <span>问题反馈列表</span>
            </div>
             <div id="feedbacks"></div>
        </div>
    </div>
    <div id="kkpager"></div>
    <div id="footer" class="text-center"></div>

    <script src="js/common.js"></script>
    <script type="text/javascript">
        
        $(function(){
            $('#header').load('header.html');
            $('#footer').load('footer.html');
            getFeedbacks();
        });
        
        template.helper('feedbackType', function (type) {
            if(type == '1') {
                return '产品界面';
            }else if(type == '2') {
                return '产品功能';
            }else if(type == '3') {
                return '试题质量';
            }else if(type == '4') {
                return '诊断报告';
            }else if(type == '5') {
                return '其他意见';
            }
        });
        
        template.helper('feedbackTitle' , function (title) {
            if(title == '') {
                return '空';
            }else {
                return title;
            }
        });
        
        template.helper('arrayLength', function (arr) {
            return arr.length;
        });
        
        template.helper('turnTime', turnDate);
        
        function getFeedbacks(n,size, search) {
            var pageNo = 1;
            if(typeof(n) != "undefined" && n != null){
                pageNo = n;
            }
            var pageSize = gz.defaultPageSize;
            if(typeof(size) != "undefined" && size != null){
                pageSize = size;
            }
            
            var feedbackType;
            if(typeof(search) != 'undefined' && search != null && search != '') {
                feedbackType = search;
            }else {
                feedbackType = '';
            }
            
            $.ajax({
                type: 'GET',
                url: serverUrl+'feedbacks',
                data: {
                    'pageNo' : pageNo,
                    'pageSize' : pageSize,
                    'feedbackType' : feedbackType
                },
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        feedbacks = data['data']['list'];
                        $('#feedbacks').html(template('feedback-template', {'feedbacks': feedbacks, 'maxIndex' : feedbacks.length-1}));
                        
                        //分页控件
                        var totalRecords = data['data']['count'];
                        initPage(pageNo, totalRecords, pageSize, getFeedbacks);
                    } else {
                        $('#feedbacks').html('<img class="nodata" src="image/nodata.png" '
                                +'alt="暂无数据" title="暂无数据" style="margin-left: 35%; margin-top: 50px; margin-bottom: 50px">');
                    }
                }
            });
        }
        
        function searchFeedbacks() {
            var feedbackType = $("#feedback-type-select option:selected").val();
            getFeedbacks(1,null, feedbackType);
        }
    </script>
    
    <script id="feedback-template" type="text/html">
        {{each feedbacks as feedback index}}
            <div class="feedback" {{if index < maxIndex }}style="border-bottom: 1px solid #e1ecf0;"{{/if}}>
                <div class="feedback-title">
                    #{{feedbackType(feedback.feedbackType)}}#&nbsp;&nbsp;{{feedbackTitle(feedback.feedbackTitle)}}
                </div>
                <div class="feedback-content">
                    <p class="author-info">提问人：{{feedback.schoolName}}&nbsp;&nbsp;{{feedback.userId}}</p>
                    <p>提问时间：{{turnTime(feedback.feedbackTime)}}</p>
                    <p>{{#feedback.feedbackContent}}</p>
                    <div class="imgs-container">
                        {{if arrayLength(feedback.imgUrl) > 0}}
                            {{each feedback.imgUrl as url}}
                                <img src = "{{url}}" class="img-rounded"/>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </script>
</body>
</html>