<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>消息中心</title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="lib/kindeditor/kindeditor.min.css" type="text/css" rel="stylesheet">

<!-- 引入共有的css -->
<script src="js/style.js"></script>

</head>
<body>
    <div id="main" class="container">
        <!-- 一级导航 -->
        <div id="msg-header-level-1" style="font-size: 16px;">
            <ul class="nav nav-pills">
                <li id="msg-received-tab" class="active"><a onclick="showTab('msg-received-tab')">收件箱</a></li>
                <li id="msg-sended-tab"><a onclick="showTab('msg-sended-tab')">发件箱</a></li>
                <li id="msg-send-tab"><a onclick="showMsgModel()">发消息</a></li>
            </ul>
        </div>
        
        <!-- 二级导航 -->
        <div id="msg-header-level-2" style="margin-top: 10px; font-size: 12px;">
            <ul class="nav nav-secondary">
                <li id="all-tab" class="active" value="all"><a onclick="showMsg('all-tab')">全部消息</a></li>
                <li id="latest-tab" value="latest"><a onclick="showMsg('latest-tab')">最新消息</a></li>
                <li id="unread-tab" value="unread">
                    <a onclick="showMsg('unread-tab')">
                        未读消息<span id="unread-msg-count" class="label label-badge label-danger">4</span>
                    </a>
                </li>
                <li id="readed-tab" value="read"><a onclick="showMsg('readed-tab')">已读消息</a></li>
            </ul>
        </div>
        
        <!-- 内容div -->
        <div id="msg-container" class="hidden" style="margin-top: 20px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;">序号</th>
                        <th style="text-align: center;" id="persons">发件人</th>
                        <th style="text-align: center;">标题</th>
                        <th style="text-align: center;">时间<i class="sort-flag icon icon-sort btn-link" data="is_overdue"></i></th>
                        <th style="text-align: center;">
                            <a href="javascript:selectAllItem();" title="全选">全选</a>
                            / <a href="javascript:otherCheck();" title="反选">反选</a>
                        </th>
                    </tr>
                </thead>
                <tbody id="messages-body" style="text-align: center;"></tbody>
            </table>
        </div>
        
        <div id="warn" class="hidden" style="margin-left: 40%; margin-top: 40px;">
            <img class="nodata" src="image/nodata.png" alt="暂无数据" title="暂无数据">
        </div>
        <div id="kkpager" class="hidden" style="width:90%; margin:auto;"></div>
    </div>
    
    <!-- 发送消息modal -->
    <div class="modal fade" id="msgModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">消息信息</h4>
                </div>
                <div class="modal-body">
                    <div id="filter" class="row hidden" style="margin-left: 8px; width: 41%;">
                        <div id="filter-grade">
                            <select id="filter-grade-list" class="form-control" onchange="initSelect('grade'); getReceiverList(); getMajorSelectList()"></select>
                        </div>
                        <div id="filter-major" style="margin-top: 8px;">
                            <select id="filter-major-list" class="form-control" onchange="initSelect('major'); getReceiverList(); getClazzList()">
                                <option value="">--请选择专业--</option>
                            </select>
                        </div>
                    </div>
                    <div id="msg-receiver-list">
                        <table class="table datatable table-borderless">
                          <tr>
                            <td style="width:45%;">
                              <select id="moduleListSelect" class="form-control" onchange="getReceiverList();">
                                  <option value=''>--请选择班级--</option>
                              </select>
                              <div id="select1" class="form-control" style="width: 100%; height: 200px; overflow-y: auto;"></div>
                            </td>
                            <td style="width: 5%; vertical-align: middle;">
                              <button id="add_all" style="width: 50px;" onclick="addAll()">>></button><br />
                            </td>
                            <td style="width: 45%;">
                              <div class="form-control">已选择<span id="checkedCount">0</span>个：
                                <button id="remove_all" class="btn btn-mini btn-primary" type="button"  style="float: right;" onclick="removeAll()">
                                    <i class="icon icon-trash"></i> 清空
                                </button>
                              </div>
                              <div id="select2" style="width: 100%; height: 200px; overflow-y: auto;" class="form-control">
                              </div>
                            </td>
                          </tr>
                        </table>
                    </div>
                    <div id="msg-box" style="width: 100%; margin-bottom: 20px">
                        <div id="msg-theme" style="margin-bottom: 20px;">
                            <span style="font-size: 16px;">主题：</span>
                            <input id="msg-title" type="text" style="width: 90%; min-height: 30px; border-style: none; border-bottom-style: groove"></input>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="font-size: 16px;">重要性：</span>
                            <input type="radio" name="importance" value="1">一般
                            <input type="radio" name="importance" value="2">重要
                            <input type="radio" name="importance" value="3">非常重要
                        </div>
                        <div id="msg-main">
                            <textarea id="msg-content" class="form-control kindeditor" style="width:100%; height:200px; visibility:hidden;">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="submit" type="button" class="btn btn-primary" onclick="saveMessage('')">发送</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--  查看消息modal -->
    <div class="modal fade" id="msgReviewModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">消息信息</h4>
                </div>
                <div class="modal-body">
                    <div><h4>标题：</h4></div>
                    <div id="msg-show-title" style="margin-top: 20px;"></div>
                    <hr/>
                    
                    <div id="msg-preview-persons"></div>
                    <div id="msg-show-receivers" style="margin-top: 20px;"></div>
                    <hr/>
                    
                    <div><h4>内容：</h4></div>
                    <div id="msg-show-content" style="margin-top: 20px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 查看收件人列表modal -->
    <div class="modal fade" id="msgReceiversModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">收件人</h4>
                </div>
                <div class="modal-body" id="msg-receivers"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- js文件放底部 -->
    <!-- 共有的js引用commos.js -->
    <script src="js/common.js"></script>
    <!--  各个页面单独用的js 各自引入-->
    <script src="lib/kindeditor/kindeditor.min.js"></script>
    
    <script type="text/javascript">
        var userRole = $.cookie(cookieUserRoleKey);
        var userId = $.cookie(cookieUserIdKey);
        var messages;
        var admin; //机构管理员
        var editor; //副文本编辑器变量
        var chk_value = [];
        var reserve_value = {}; //预备库
        var checkedCount = 0;
        var realGrade;
        
        $(function(){
            init();
            getUnReadMsgCount(); //未读消息条数
            
            if(userRole == Role.Teacher.key || userRole == Role.Student.key) {
                getOrgAdmin(); //获取机构管理员信息
            }
            
            inBox('all');
        });
        
        template.helper('add', function(temp1, temp2){
            return temp1 + temp2;
        });
        
        template.helper('arrLength', function(arr){
            return arr.length;
        });
        
        function showTab(tabId) {
            $('#msg-header-level-1 li').each(function(i) {
                $(this).removeClass('active');
            });
            $('#'+tabId).addClass('active');
            
            if(tabId == 'msg-received-tab') { //level1-收件箱
                $("#msg-header-level-2").removeClass('hide');
                $("#msg-header-level-2 li").each(function(i){
                    if($(this).hasClass('active')) {
                        inBox($(this).attr('value'));
                    }
                });
            }else if(tabId == 'msg-sended-tab') { //level1-发件箱
                $("#msg-header-level-2").addClass('hide');
                outBox();
            }
        }
        
        function showMsg(tabId) {
            $('#msg-header-level-2 li').each(function(i) {
                $(this).removeClass('active');
            });
            $('#'+tabId).addClass('active');
            inBox($('#'+tabId).attr('value'));
        }
        
        
        function init() {
            //初始化副文本编辑器
            KindEditor.ready(function(K) {
                editor = K.create('#msg-content', {
                    basePath: 'lib/kindeditor/',
                    allowFileManager : true,
                    bodyClass : 'article-content',
                    items : [
                             'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                             'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                             'insertunorderedlist', '|', 'emoticons'],
                    //编辑器失去焦点(blur)时执行的回调函数
                    afterBlur : function() {
                        this.sync();
                    }
                });
            });
        }
        
        template.helper('turnTime', turnDate);
        
        //table表格按时间字段排序
        var sortType;
        $(document).on('click','table th i.sort-flag', function(){
            $(this).removeClass('icon-sort');
            if ($(this).hasClass("icon-sort-up")) {
                $(this).addClass('icon-sort-down');
                $(this).removeClass('icon-sort-up');
                sortType = 'DESC';
            } else {
                $(this).addClass('icon-sort-up');
                $(this).removeClass('icon-sort-down');
                sortType = 'ASC';
            }
            
            $('#msg-header-level-1 li').each(function(i) {
                if($(this).hasClass('active')) {
                    var id = $(this).attr('id');
                    if(id == 'msg-received-tab'){ //收件箱
                        showTab('msg-received-tab');
                    } else { //发件箱
                        showTab('msg-sended-tab');
                    }
                }
            });
        });
        
        <!--教师角色：获取班级下拉列表-->
        function getClazzSelectList(selectId){
            $.ajax({
                type: 'GET',
                url: serverUrl+'classes/select',
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        var selec = $("#"+selectId);
                        selec.empty();
                        selec.append("<option value=''>--请选择--</option>");
                        selec.append("<option id='org' value='"+admin.userId+"' style='color: red;'>"+admin.name+"</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value.id+"'>"+value.name+"</option>");
                        });
                    } else {
                        new $.zui.Messager('获取下拉列表失败', zuiMessager.fail).show();
                    }
                }
            });
        }
        
        <!--学生角色：获取所在班级列表-->
        function getBelongsClazzSelectList(selectId) {
            $.ajax({
                type: 'GET',
                url: serverUrl+'classes/'+userId+'/classes?type=0',
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        var selec = $("#"+selectId);
                        selec.empty();
                        selec.append("<option value=''>--请选择--</option>");
                        selec.append("<option id='org' value='"+admin.userId+"' style='color: red;'>"+admin.name+"</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value.classid+"' teacherId = '"
                                            +value.teacherid+"'teacherName = '"+value.teachername+"'>"+value.classname+"</option>");
                        });
                    } else {
                        new $.zui.Messager('获取学生所在班级下拉列表失败', zuiMessager.fail).show();
                    }
                }
            });
        }
        
        <!--获取真实年级下拉列表-->
        function getRealGradeSelectList(){
            $.ajax({
                type: 'GET',
                url: serverUrl+'users/realGrades',
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    var selec = $("#filter-grade-list")
                    
                    selec.empty();
                    selec.append("<option value=''>--请选择年级--</option>");
                    selec.append("<option value='teachers'>老师</option>")
                    $.each(data['data'],function(i,value){
                        selec.append("<option value='"+value+"'>"+value+"</option>");
                    });
                }
            });
        }
        
        <!--获取专业下拉列表-->
        function getMajorSelectList(){
            var selectValue = $("#filter-grade-list :selected").val();
            
            if(selectValue != 'teachers') {
                $("#select1").html('');
                
                realGrade = selectValue;
                $.ajax({
                    type: 'GET',
                    url: serverUrl+'users/majors?realGrade='+realGrade,
                    dataType:"json",
                    async: true,
                    beforeSend: $.beforeSend,
                    success:function(data){
                        var selec = $("#filter-major-list");
                        selec.empty();
                        selec.append("<option value=''>--请选择专业--</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value+"'>"+value+"</option>");
                        });
                    }
                });
            }
        }
        
        /**
            根据真实年级和专业信息获得班级列表
        **/
        function getClazzList() {
            $("#select1").html('');
            
            var realGrade = $("#filter-grade-list :selected").val();
            var major = $("#filter-major-list :selected").val();
            $.ajax({
                type: 'GET',
                url: serverUrl + 'users/realClasses',
                data: {
                    'realGrade': realGrade,
                    'major': major
                },
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    var selec = $("#moduleListSelect");
                    selec.empty();
                    selec.append("<option value=''>--请选择班级--</option>");
                    $.each(data['data'],function(i,value){
                        selec.append("<option value='"+value+"'>"+value+"</option>");
                    });
                }
            });
        }
        
        function initSelect(selectObj) {
            if(selectObj == 'grade') {
                var selec = $("#filter-major-list ");
                selec.empty();
                selec.append("<option value=''>--请选择专业--</option>");
                
                selec = $("#moduleListSelect");
                selec.empty();
                selec.append("<option value=''>--请选择班级--</option>");
            }else if(selectObj == 'major') {
                var selec = $("#moduleListSelect");
                selec.empty();
                selec.append("<option value=''>--请选择班级--</option>");
            }
        }
        
        <!--根据年级 专业 班级获取学生-->
        function getStudentList() {
            var realGrade = $("#filter-grade-list :selected").val();
            var major = $("#filter-major-list :selected").val();
            var clazz = $("#moduleListSelect :selected").val();
            gz.logger('realGrade: '+realGrade+" major: "+major+" clazz: "+clazz);
            $.ajax({
                type: "GET",
                data:{
                    'realGrade': realGrade,
                    'major': major,
                    'realClass': clazz
                },
                url: serverUrl + 'users',
                beforeSend: $.beforeSend,
                success: function (data) {
                    var students = data['data']['list'];
                    $('#select1').empty()
                    if(data['data']['count'] > 0){
                        $('#select1').append(template('receivers-template', {receivers: students, userId: userId}));
                        
                        reserve_value = [];
                        for(i in students) {
                            reserve_value[students[i].userId] = students[i].name;
                        }
                    }else {
                        $('#select1').html('该班级下没有添加学生');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        //#select1中注入用户列表
        function getReceiverList() {
            $('#select1').html('');
            
            if(userRole == Role.Teacher.key || userRole == Role.Student.key) {
                if($("#moduleListSelect :selected").text() == '机构管理员') { //添加机构管理员
                    var htmlTxt = '<div class="add_receiver1" userId="'+admin.userId+'" userName="'+admin.name+'"'
                        + 'onclick="addReceiver(this);">'+admin.name+'</div>';
                    $('#select1').html(htmlTxt);
                    
                    reserve_value = [];
                    reserve_value[admin.userId] = admin.name;
                }else { //选择虚拟班级下的学生,剔除自己
                    getClazzStudentList();
                }
            }else if(userRole == Role.OrgAdmin.key){
                if($("#filter-grade-list :selected").val() == 'teachers') {
                    getOrgTeachers();
                }else { //根据年级  专业 班级选择学生
                    getStudentList();
                }
            }
        }
        
        <!--获取虚拟班级下学生列表-->
        function getClazzStudentList(){
            var $selectedObj = $('#moduleListSelect option:selected');
            var clazzId = $selectedObj.val();
            $.ajax({
                type: "GET",
                url: serverUrl+'classes/'+clazzId+'/students',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        var students = data['data'];
                        
                        if(userRole == Role.Student.key) { //学生登录：班级的学生列表中添加该班级的老师
                            var teacherId = $selectedObj.attr('teacherid');
                            var teachername = $selectedObj.attr('teachername');
                            var htmlTxt = '<div class="add_receiver1" userId="'+teacherId+'" userName="'+teachername+'"'
                                + 'onclick="addReceiver(this);" style="color: red;">'+teachername+'</div>';
                            $('#select1').html(htmlTxt);
                            
                            reserve_value = [];
                            reserve_value[teacherId] = teachername;
                            
                            //确保当前登录学生不在班级中的学生列表中
                            if(students!=null && students.length>0){
                                $('#select1').append(template('receivers-template', {receivers: students, userId: userId}));
                                
                                for(i in students){
                                    reserve_value[students[i].userId] = students[i].name;
                                }
                            }
                        }else if(userRole == Role.Teacher.key) { //教师登录
                            if(students!=null && students.length>0){
                                $('#select1').append(template('receivers-template', {receivers: students, userId: userId}));
                                
                                reserve_value = [];
                                for(i in students){
                                    reserve_value[students[i].userId] = students[i].name;
                                }
                            }else {
                                $('#select1').html('该班级下没有添加学生');
                            }
                        }
                    } else {
                        new $.zui.Messager('获取学生列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        //**获取机构下的全体教师**//
        function getOrgTeachers() {
            $.ajax({
                type: "GET",
                url: serverUrl+'users/org',
                data: {
                    roleId: Role.Teacher.key
                },
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        var teachers = data['data'];
                        
                        $('#select1').empty()
                        if(data['data'].length > 0){
                            reserve_value = [];
                            for(i in teachers) {
                                reserve_value[teachers[i].userId] = teachers[i].name;
                            }
                            
                            $('#select1').append(template('receivers-template', {receivers: teachers, userId: userId}));
                        }else {
                            $('#select1').html('没有老师');
                        }
                    } else {
                        new $.zui.Messager('获取老师列表失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        //**获取机构管理员**//
        function getOrgAdmin() {
            $.ajax({
                type: "GET",
                url: serverUrl+'users/org',
                data: {
                    roleId: Role.OrgAdmin.key
                },
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        var value = data['data'];
                        admin = value[0];
                    } else {
                        new $.zui.Messager('获取机构管理员失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        function addReceiver(obj) {
            var userName = $(obj).attr("userName");
            var userId = $(obj).attr("userId");
            if (chk_value.indexOf(userId) == -1) {
                 chk_value.push(userId);
                 $(obj).remove();
                 var addReceiverHtml = '<div class="add_receiver2" userId="'+userId+'"userName="'+userName+'">'+userName
                                       +'<span class="remove" onclick="removeReceiver(this);">X</span></div>';
                 $(addReceiverHtml).appendTo("#select2");
                 $("#checkedCount").html(++checkedCount);
            }
        }
        
        function removeReceiver(obj) {
            var userId = $(obj).parent().attr("userId");
            var index = chk_value.indexOf(userId);
            if (index > -1) {
                chk_value.splice(index, 1);
                $(obj).parent().remove();
                $("#checkedCount").html(--checkedCount);
            }
            
            //reserve_value中包含 && select1中没有该条
            if( typeof(reserve_value[userId]) != "undefined" && $("#select1 [userid='"+userId+"']").length == 0) {
                
                var htmlTxt = '<div class="add_receiver1" userId="'+userId+'" userName="'+reserve_value[userId]+'"'
                    + 'onclick="addReceiver(this);">'+reserve_value[userId]+'</div>';
                $('#select1').append(htmlTxt);
            }
        }
        
        function addAll() {
            $("div.add_receiver1").each(function(){
                var userName = $(this).attr("userName");
                var userId = $(this).attr("userId");
                if (chk_value.indexOf(userId) == -1) {
                    $(this).remove();
                    var addReceiverHtml = '<div class="add_receiver2" userId="'+userId+'" userName="'+userName+'">'+userName
                                          +'<span class="remove" onclick="removeReceiver(this);">X</span></div>';
                    var $option = $(addReceiverHtml);
                    $option.appendTo("#select2");
                    $("#checkedCount").html(++checkedCount);
                    chk_value.push(userId);
                }
            });
        }
        
        function removeAll() {
            $("div.add_receiver2").each(function(){
                var userId = $(this).attr("userId");
                var index = chk_value.indexOf(userId);
                if (index > -1) {
                    chk_value.splice(index, 1);
                    $(this).remove();
                    $("#checkedCount").html(--checkedCount);
                }
                
                //reserve_value中包含 && select1中没有该条
                if( typeof(reserve_value[userId]) != "undefined" && $("#select1 [userid='"+userId+"']").length == 0) {
                    
                    var htmlTxt = '<div class="add_receiver1" userId="'+userId+'" userName="'+reserve_value[userId]+'"'
                        + 'onclick="addReceiver(this);">'+reserve_value[userId]+'</div>';
                    $('#select1').append(htmlTxt);
                }
            });
        }
        
        //发件箱
        function outBox(n,size) {
            $('#persons').html('收件人');
            
            var pageNo = 1;
            if(typeof(n) != "undefined" && n != null){
                pageNo = n;
            }
            var pageSize = gz.defaultPageSize;
            if(typeof(size) != "undefined" && size != null){
                pageSize = size;
            }
            var type = 'sended';
            
            $.ajax({
                type: 'GET',
                url: serverUrl + 'messages/' + userId,
                data: {
                    'type' : type,
                    'sortType': sortType,
                    'pageNo': pageNo,
                    'pageSize': pageSize
                },
                dataType: "json",
                contentType:"application/json",
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        messages = data['data']['messages'];
                        
                        $("#msg-container").removeClass('hidden');
                        $("#kkpager").removeClass('hidden');
                        $("#warn").addClass('hidden');
                        $('#messages-body').html(template('message-template', 
                                {'messages': messages, 'type': type, 'baseIndex': (pageNo-1)*pageSize+1}));
                        
                        //分页控件
                        var totalRecords = data['data']['count'];
                        initPage(pageNo, totalRecords, pageSize, outBox);
                        
                    } else {
                        $("#msg-container").addClass('hidden');
                        $("#kkpager").addClass('hidden');
                        $('#warn').removeClass('hidden');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    window.console.log(textStatus);
                    window.console.log(errorThrown);
                }
            });
        }
        
        //收件箱
        function inBox(style, n) {
            $('#persons').html('发件人');
            
            var pageNo = 1;
            if(typeof(n) != "undefined" && n != null){
                pageNo = n;
            }
            var pageSize = gz.defaultPageSize;
            
        	var type = 'received';
        	var isRead = '';
        	var topN = '';
        	
        	if(style == 'latest') { //获取最新消息
        		topN = '2'; //设置topN;
        	} else if(style == 'all') {//全部消息
        	    
        	} else if(style == 'unread') { //未读
        		isRead = '0';
        	} else { //已读
        		isRead = '1';
        	}
        	
        	$.ajax({
                type: 'GET',
                url: serverUrl+'messages/' + userId,
                data: {
                    type : type,
                    isRead : isRead,
                    topN : topN,
                    sortType: sortType,
                    pageNo: pageNo,
                    pageSize: pageSize
                },
                dataType: "json",
                contentType:"application/json",
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        messages = data['data']['messages'];
                        
                        $("#msg-container").removeClass('hidden');
                        $("#kkpager").removeClass('hidden');
                        $("#warn").addClass('hidden');
                        $('#messages-body').html(template('message-template', 
                                {'messages': messages, 'type': style, 'baseIndex': (pageNo-1)*pageSize+1}));
                        
                        //分页控件
                        var totalRecords = data['data']['count'];
                        var totalPage = Math.ceil(totalRecords/pageSize);
                        kkpager.generPageHtml({
                            pagerid : 'kkpager',
                            pno : pageNo,//当前页码
                            total : totalPage,//总页码
                            totalRecords : totalRecords,//总数据条数
                            mode : 'click',//默认值是link，可选link或者click
                            click : function(n){
                                if(!isNaN(n)){
                                    //翻页时发送ajax请求
                                    inBox(style, n);
                                    this.selectPage(n);
                                    return true;
                                }else{
                                    bootbox.alert("页码不能为空！");
                                }
                            }
                         },true);
                    } else {
                        $("#msg-container").addClass('hidden');
                        $("#kkpager").addClass('hidden');
                        $('#warn').removeClass('hidden');
                    }
                    
                    if(style == 'unread') { //更新未读条数
                        $("#unread-msg-count").html(data['data']['count']);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    window.console.log(textStatus);
                    window.console.log(errorThrown);
                }
            });
        }
        
        //全选
        function selectAllItem() {
            $("#msg-container input[type=checkbox]").prop('checked', true);
            $(".receive-admin input[type=checkbox]").prop('checked', false); //排除管理员发送的消息
        }
        
        //反选
        function otherCheck() {
            $("#msg-container input[type=checkbox]").each(function() {
                if(this.checked==true){ 
                    this.checked=false;
                }else{
                    this.checked=true;
                }
            });
            $(".receive-admin input[type=checkbox]").prop('checked', false); //排除管理员发送的消息
        }
        
        function deleteCheckedMessage() {
            var type;
            var messageIds = [];
            $("#msg-container input[type=checkbox]").each(function(i){
                if($(this).prop("checked")==true) {
                    messageIds.push($(this).val());
                }
            })
            if(messageIds.length == 0) {
                new $.zui.Messager('请选择需要删除的消息', zuiMessager.fail).show();
                return;
            }
            
            if($('#msg-received-tab').hasClass('active')) { //删除收件箱中选中的消息
                type = "received";
            }else if($('#msg-sended-tab').hasClass('active')) { //删除发件箱中选中的消息
                type = "send";
            }
            
            var dataMap = {
                userId : userId,
                type : type,
                messageIds : JSON.stringify(messageIds)
            }
            
            $.ajax({
                type: 'DELETE',
                url: 'messages?dataMap='+JSON.stringify(dataMap),
                dataType: "json",
                contentType:"application/json",
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        new $.zui.Messager('删除成功', zuiMessager.success).show();
                        if(type == 'received') { // 删除成功之后刷新所在页面
                            var activeId; //寻找二级标题
                            $('#msg-header-level-2 li').each(function() {
                                if($(this).hasClass('active')) {
                                    activeId = $(this).attr('value');
                                }
                            });
                            inBox(activeId);
                        }else {
                            outBox();
                        }
                    } else {
                        new $.zui.Messager('删除失败', zuiMessager.success).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    window.console.log(textStatus);
                    window.console.log(errorThrown);
                }
            });
        }
        
        //将未读消息标记为已读
        function markRead() {
            var messageIds = new Array();
            $("#msg-container input[type=checkbox]").each(function(i){
                if($(this).prop("checked")==true) {
                    messageIds.push($(this).val());
                }
            });
            if(messageIds.length == 0) {
                new $.zui.Messager('请选择需要标记的消息', zuiMessager.fail).show();
                return;
            }
            var dataMap = {
                messageIds : JSON.stringify(messageIds),
                receiverId : userId
            }
            
            $.ajax({
                type: 'PUT',
                url: 'messages',
                data: {
                    dataMap : JSON.stringify(dataMap)
                },
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        new $.zui.Messager('修改成功', zuiMessager.success).show();
                        inBox('unread');
                    } else {
                        new $.zui.Messager('修改失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    window.console.log(textStatus);
                    window.console.log(errorThrown);
                }
            });
        }
        
        function showMsgModel() {
            $('#select1').html('');
            $('#select2').html('');
            $("#msg-title").val('');
            $("input[name=importance]").each(function() {
                $(this).prop('checked',false);
            });
            editor.html('');//副文本编辑器重置：模拟执行clear点击的事件，清空消息内容 
            
            checkedCount = 0;
            chk_value =[];
            $("#checkedCount").html(checkedCount); //更新数据显示
            if(userRole == Role.Teacher.key) { //教师角色进入，选择班级下的学生
                $("#filter").addClass('hidden');
                $("#msg-receiver-list").removeClass('hidden');
                
                getClazzSelectList('moduleListSelect'); //获取教师的班级列表
            }else if(userRole == Role.Student.key) {
                $("#filter").addClass('hidden');
                $("#msg-receiver-list").removeClass('hidden');
                
                getBelongsClazzSelectList('moduleListSelect'); //获取学生所在班级列表
            } else if(userRole == Role.OrgAdmin.key) { //获取机构下的全部班级列表
                $("#filter").removeClass('hidden');
                $("#msg-receiver-list").removeClass('hidden');
                
                /*初始化*/
                var selec = $("#filter-major-list ");
                selec.empty();
                selec.append("<option value=''>--请选择专业--</option>");
                
                selec = $("#moduleListSelect");
                selec.empty();
                selec.append("<option value=''>--请选择班级--</option>");
                
                getRealGradeSelectList();
            }
            $('#msgModal').modal('show');
        }
        
        //点击发件人回复消息
        function showReplayModal(id) {
            $("#msgModal .modal-title").html("消息回复");
            $("#filter").addClass('hidden');
            $("#msg-receiver-list").addClass('hidden');
            
            //清空modal
            $("#msg-title").val('');
            $("input[name=importance]").each(function() {
                $(this).prop('checked',false);
            });
            editor.html('');//副文本编辑器重置：模拟执行clear点击的事件，清空消息内容
            
            $('#msgModal').modal('show');
            $("#submit").attr("onclick","saveMessage('"+id+"')");
        }
        
        //查看收件箱中消息的具体内容
        function showMsgReviewModal(index) {
            var message = messages[index];
            
            if($("#msg-received-tab").hasClass('active')) { //收件箱
                $('#msg-preview-persons').html('<h4>发件人：</h4>');
                $("#msg-show-receivers").html(message['senderName']);
            }else if($('#msg-sended-tab').hasClass('active')) { //发件箱
                var receivers = '';
                jQuery.each(message.messageReceiverList, function(i, val){
                    receivers += val.receiverName + " "
                });
                $('#msg-preview-persons').html('<h4>收件人：</h4>');
                $("#msg-show-receivers").html(receivers);
            }
            
            $("#msg-show-title").html(message['title']);
            $("#msg-show-content").html(message['msgContent']);
            
            $("#msgReviewModal").modal('show');
        }
        
        //查看收件人列表
        function showReceiversModal(index) {
            var content = '';
            jQuery.each(messages[index].messageReceiverList, function(i, val){
                content += val.receiverName + " "
            });
            
            $('#msg-receivers').html(content);
            $('#msgReceiversModal').modal('show');
        }
        
        //保存回复的消息 || 任意发送的消息
        function saveMessage(id) {
            var sendType; //发送类型
            var receivers = [];
            if(id == "") { //选择收件人发送消息
                if(checkedCount == 0) {
                    new $.zui.Messager('请选择收件人', zuiMessager.fail).show();
                    return;
                } else if(checkedCount == 1) { // 1--单发
                    sendType = 1; 
                } else {
                    sendType = 2; // 2--群发
                }
                $(".add_receiver2").each(function() {
                    var obj = {};
                    obj['receiverId'] = $(this).attr("userid");
                    receivers.push(obj);
                });
            } else { //回复消息
                sendType = 1;
                receivers.push({'receiverId': id});
            }
            
            var importance = $('input[name=importance]:radio:checked').val(); //重要性
            var msgTitle = $('#msg-title').val();
            var msgContent = editor.html();
            
            if (!$.trim(msgTitle)) {
                new $.zui.Messager('请填写消息主题', zuiMessager.fail).show();
                $('#msg-title').focus();
                return;
            }
            if (!$.trim(msgContent)) {
                new $.zui.Messager('请填写消息内容', zuiMessager.fail).show();
                return;
            }
            
            var dataMap = {
                senderId: userId,
                title : msgTitle,
                msgContent : msgContent,
                sendType: sendType,
                importance: importance,
                messageReceiverList: receivers
            }
            $.ajax({
                type: 'POST',
                url: 'messages',
                data: JSON.stringify(dataMap),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#msgModal').modal('hide');
                        new $.zui.Messager('消息发送成功',zuiMessager.success ).show();
                        
                        showTab('msg-sended-tab');
                    } else {
                        new $.zui.Messager('消息发送失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        //获取未读消息条数
        function getUnReadMsgCount() {
            $.ajax({
                type: 'GET',
                url: serverUrl + 'messages/unread/' + userId,
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        var count = data['data'];
                        $("#unread-msg-count").html(count);
                    } else {
                        new $.zui.Messager('获取未读消息条数失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        //撤销发件箱中的消息
        function revokeMsg() {
            var messageIds =[]; 
            $("#msg-container input[type=checkbox]").each(function(i){
                if($(this).prop("checked")==true) {
                    messageIds.push($(this).val());
                }
            });
            if(messageIds.length == 0) {
                new $.zui.Messager('请选择需要撤销的消息', zuiMessager.fail).show();
                return;
            }
            $.ajax({
                type: 'DELETE',
                url: serverUrl + 'messages/revoke?messageIds='+JSON.stringify(messageIds),
                async: true,
                dataType: 'json',
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        outBox();
                    } else {
                        new $.zui.Messager('撤销消息失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
    </script>
    
    <script id="message-template" type="text/html">
        {{each messages as message index}}
            <tr>
                <td>{{add(index, baseIndex)}}</td>
                {{if type != 'sended'}}
                    <td><span style="font-weight: bold;" onclick="showReplayModal('{{message.senderId}}')">{{message.senderName}}</span></td>
                {{else}}
                    <td>
                        {{if arrLength(message.messageReceiverList) < 2}}
                            {{each message.messageReceiverList as receiver i}}
                                {{receiver.receiverName}}  
                            {{/each}}
                        {{else}}
                            <span>
                                {{each message.messageReceiverList as receiver i}}
                                    {{if i < 2}}
                                        {{receiver.receiverName}}  
                                    {{/if}}
                                {{/each}}
                                ...
                            </span>
                        {{/if}}
                    </td>
                {{/if}}
                <td><span style="font-weight: bold;" msg-content="{{message.msgContent}}" onclick="showMsgReviewModal('{{index}}')">{{message.title}}</span></td>
                <td>{{turnTime(message.sendTime)}}</td>
                <td><input type="checkbox" value="{{message.messageId}}"/></td>
            </tr>
         {{/each}}
          <tr style="text-align: right;">
              {{if type == 'unread'}}
                  <td colspan="5">
                      <button class="btn btn-default" type="button" onclick="deleteCheckedMessage()">删除消息</button>
                      <button class="btn btn-default" type="button" onclick="markRead()">标为已读</button>
                  </td>
              {{else}}
                  {{if type == 'sended'}}
                      <td colspan="5">
                          <button class="btn btn-default" type="button" onclick="deleteCheckedMessage()">删除消息</button>
                          <button class="btn btn-default" type="button" onclick="revokeMsg()">撤销消息</button>
                      </td>
                  {{else}}
                      <td colspan="5">
                          <button class="btn btn-default" type="button" onclick="deleteCheckedMessage()">删除消息</button>
                      </td>
                  {{/if}}
              {{/if}}
        </tr>
    </script>
    
    <script id="receivers-template" type="text/html">
        {{each receivers as receiver i}}
            {{if userId != receiver.userId}} 
                <div class="add_receiver1" userId="{{receiver.userId}}" userName="{{receiver.name}}"
                     onclick="addReceiver(this);">{{receiver.name}}</div>
            {{/if}}
        {{/each}}
    </script>
</body>
</html>