<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>问卷</title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- 引入共有的css -->
<script src="js/style.js"></script>
<style>
    #questionnaire-paper-questions{
        border: 1px solid #000;
        text-align: left;
        padding-left: 350px;
        font-size: 14px;
        padding-top: 10px;
    }
    
    .questionnaire-paper-question{
        padding-bottom: 10px;
    }
    
    #quesationnaire-form-question ul{
        list-style-type: none;
    }
    
    .questionnaire-question-stem{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 80%;
    }
    
    .questionnaire-question-body{
        width:80%;
    }
    
    .questionnaire-question-choice{
        width: 70%;
        margin: 10px;
    }
    
    .list-group-item > input{
        width: 90%;
        margin-left: 5px;
        min-height: 30px;
        border: none;
    }
    
    .saq-m-steam{
        width: 50%;
        min-height: 30px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    
    .saq-m-value{
        width: 40%;
        min-heigth: 30px;
    }
    
    input[type='radio']{
        width: 15px;
        height: 15px;
    }
</style>
</head>
<body>
    <div id="header"></div>
    <div id="main" class="container">
        <div class="row">
            <a href="javascript:goback();" class="goback" id="backId">返回</a>
        </div>
        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="col-md-2 col-md-offset-8">
                <button class="btn btn-block btn-primary" type="button" onclick="showQuestionModal(-1)"><i class="icon icon-plus"></i>添加试题</button>
            </div>
            <div class="col-md-2">
                <button id="preview-btn" class="btn btn-block btn-primary" type="button" onclick="review()">
                    <i class="icon icon-eye-open"></i>
                    预览问卷
                </button>
            </div>
        </div>
        <div class="row">
            <div id="questionnaire-paper-questions" class="hidden"></div>
        </div>
        <div id="warn" class="hidden" style="margin-left: 40%; margin-top: 40px;">
            <img class="nodata" src="image/nodata.png" alt="暂无数据" title="暂无数据">
        </div>
    </div>
    <div id="footer" class="text-center"></div>
    
    <!-- Questions Modal -->
    <div class="modal fade" id="questionnaireQuestionModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">试题信息</h4>
                </div>
                <div class="modal-body">
                    <form id="insert-form" class="form-horizontal">
                        <select id="questionnaire-question-select" class="form-control" onchange="changeQuestionType()">
                            <option value="">请选择试题类型</option>
                            <option value="SAQ">填空题</option>
                            <option value="MCQ-S">单选题</option>
                            <option value="MCQ-M">多选题</option>
                            <option value="SEQ">排序题</option>
                            <option value="SAQ-M">多项填空题</option>
                        </select>
                        <div id="quesationnaire-form-question"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" onclick="saveQuestion();">保存</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- js文件放底部 -->
    <!-- 共有的js引用commos.js -->
    <script src="js/common.js"></script>
    <!--  各个页面单独用的js 各自引入-->
    <script type="text/javascript">
        var flag;
        var questions;
        var questionsSize;
        var paperId;
        var quesationMethod;
        
        $(function(){
            $('#header').load('header.html');
            $('#footer').load('footer.html');
            
            paperId = $.getUrlParam("paperId");
            getQuestions();
        });
        
        function goback() {
            location.href = 'questionnaire-paper-list.html';
        }
        
        function getQuestions() {
            $.ajax({
                type: 'GET',
                url: 'questionnaireQuestions/' + paperId + '/questions',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#questionnaire-paper-questions').removeClass('hidden');
                        $('#warn').addClass('hidden');
                        $('#preview-btn').removeAttr('disabled');
                        
                        questions = data['data'];
                        $('#questionnaire-paper-questions').html(template('question-item', {'questions': questions}));
                        questionsSize = $(".questionnaire-paper-question").size();
                    } else {
                        $('#questionnaire-paper-questions').addClass('hidden');
                        $('#warn').removeClass('hidden');
                        $('#preview-btn').attr('disabled', 'disabled');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        function deleteQuestion(questionId) {
            bootbox.confirm('确认删除该试题?', function(result){
                if(result){
                    $.ajax({
                        type: "DELETE",
                        url: 'questionnaireQuestions/' + questionId,
                        async: true,
                        beforeSend: $.beforeSend,
                        success: function (data) {
                            if (data['status'] < 400) {
                                getQuestions();
                            } else {
                                new $.zui.Messager('删除问题失败', zuiMessager.fail).show();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            gz.logger(textStatus);
                            gz.logger(errorThrown);
                        }
                    });
                }else{
                    return;
                }
            });
        }
        
        function moveUp(index){
            console.log(questions[index]['questionOrder']);
            var $div = $("#questionnaire-paper-questions div").eq(index);
            if(index == 0) {
                new $.zui.Messager('已经到达最顶端', zuiMessager.fail).show();
            } else {
                var dataMap = [
                        {
                            "questionId" : questions[index].questionId,
                            "questionOrder" : questions[index-1]['questionOrder']
                        },
                        {
                            "questionId" : questions[index - 1].questionId,
                            "questionOrder" : questions[index]['questionOrder']
                        }
                  ];
                changeOrder(dataMap);
            }
        }
        
        function moveDown(index) {
            var $div = $("#questionnaire-paper-questions div").eq(index);
            if(index < questionsSize - 1) {
                var dataMap = [
                      {
                          "questionId" : questions[index]['questionId'],
                          "questionOrder" : questions[index + 1]['questionOrder']
                      },
                      {
                          "questionId" : questions[index + 1]['questionId'],
                          "questionOrder" : questions[index]['questionOrder']
                      }
                ];
                changeOrder(dataMap);
            } else {
                new $.zui.Messager('已经是最后一个了', zuiMessager.fail).show();
            }
        }
        
        function changeOrder(dataMap) {
            $.ajax({
                type: 'POST',
                url: 'questionnaireQuestions/updates',
                data: JSON.stringify(dataMap),
                dataType: "json",
                contentType:"application/json",
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        getQuestions();
                    } else {
                        new $.zui.Messager('排序失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        function showQuestionModal(index) {
            $('#questionnaire-question-select')[0].selectedIndex = 0;
            if (index === -1) {
                //添加试题
                flag = -1;
                $("#insert-form select").show();
                $('#quesationnaire-form-question').html("");
            } else {
                //更新试题
                flag = questions[index]['questionId'];
                $("#insert-form select").hide();
                $('#quesationnaire-form-question').html(template('question-update-item', {'question': questions[index]}));
                questionMethod = questions[index]['questionMethod']
            }
            $('#questionnaireQuestionModal').modal('show');
        }
        
        function removeChoice(obj) {
            $(obj).parent().remove();
        }
        
        //单选 & 多选 添加选项
        function addChoice () {
            var temp;
            if(questionMethod == 'MCQ-M') {
                temp = 'checkbox';
            } else {
                temp = 'radio';
            }
            
            var insertHtml;
            if(flag == -1) { //添加试题
                insertHtml = '<li style="list-style-type: none;">'
            } else { //更新试题
                insertHtml = '<li style="list-style-type: none; margin-left: 20px;">'
            }
            
            insertHtml +='<input type="'+temp+'"/>'
               +'<input class="questionnaire-question-choice" value="选项"></lable>'
               +'<input type="checkbox" class="has-input" style="margin-left: 5px;"/><span>允许填空</span></input>'
               +'<a href="javascript:;" onclick="removeChoice(this)" title="删除选项">'
               +'<i class="icon icon-remove-circle" style="margin-left: 5px;"></i>'
               +'</a>'
               +'</li>';
            $(".questionnaire-question-body").append(insertHtml);
        }
        
        //排序题目添加选项
        function addToSortableList() {
            var html = '<div class="list-group-item">'
                       +'<i class="icon-move"></i><input value="选项"></input>'
                       +'<a href="javascript:;" onclick="removeChoice(this)" title="删除选项">'
                       +'<i class="icon icon-remove-circle"></i></a>'
                       +'</div>';
            $(".questionnaire-question-body").append(html);
        }
        
        //多项填空题添加选项
        function addItem() {
            var html = '<div class="saq-m-inner-div">'
                       +'<input value="选项2" class="saq-m-steam"></input><input class="saq-m-value"></input>'
                       +'<a href="javascript:;" onclick="removeChoice(this)" title="删除选项">'
                       +'<i class="icon icon-remove-circle" style="margin-left: 4px;"></i>'
                       +'</a>'
                       +'</div>'
            $(".questionnaire-question-body").append(html);
        }
        
        function changeQuestionType() {
            questionMethod = $('#insert-form option:selected') .val();
            if(questionMethod == 'SAQ') {
                $("#quesationnaire-form-question").html(template('saq-template'));
            } else if(questionMethod == 'MCQ-M') {
                $("#quesationnaire-form-question").html(template('mcq-m-template'));
            } else if(questionMethod == 'SEQ') {
                $("#quesationnaire-form-question").html(template('seq-template'));
            } else if(questionMethod == 'SAQ-M'){
                //多项填空题
                $("#quesationnaire-form-question").html(template('saq-m-template'));
            } else {
                $("#quesationnaire-form-question").html(template('mcq-s-template'));
            }
        }
        
        function saveQuestion() {
            var choiceList = new Array();
            if(questionMethod == 'SEQ') {
                //排序题
                $(".list-group-item input").each(function(i) {
                    var choiceObj = new Object();
                    choiceObj.choiceText = $(this).val()
                    choiceObj.choiceOrder = i;
                    choiceList.push(choiceObj);
                });
            } else if(questionMethod == 'SAQ-M'){
                //多项填空题
                $(".saq-m-steam").each(function(i){
                    var choiceObj = new Object();
                    choiceObj.choiceText = $(this).val()
                    choiceObj.choiceOrder = i;
                    choiceList.push(choiceObj);
                })
            }else {
                //单选 & 多选
                $(".questionnaire-question-body li").each(function(i){
                    var choiceObj = new Object();
                    choiceObj.choiceText = $(".questionnaire-question-choice:eq("+i+")").val();
                    choiceObj.choiceOrder = i;
                    if($(".has-input:eq("+i+")").is(':checked')) {
                        choiceObj.hasInput = true;
                    } else {
                        choiceObj.hasInput = false;
                    }
                    choiceList.push(choiceObj);
                });
            }
            var questionStem = $(".questionnaire-question-stem").val();
            var dataMap = {
                "paperId" : paperId,
                "questionStem" : questionStem,
                "questionMethod" : questionMethod,
                "choiceList" : choiceList
            }
            var typeParam;
            var urlParam;
            if(flag === -1){
                typeParam = 'POST';
                urlParam = 'questionnaireQuestions';
            } else {
                typeParam = 'PUT';
                urlParam = 'questionnaireQuestions/' + flag;
            }
            $.ajax({
                type: typeParam,
                url: urlParam,
                data: JSON.stringify(dataMap),
                dataType: "json",
                contentType:"application/json",
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        $('#questionnaireQuestionModal').modal('hide');
                        getQuestions();
                    } else {
                        new $.zui.Messager('保存失败', zuiMessager.success).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        function review(){
            window.location.href = 'questionnaire-paper-preview.html?paperId=' + paperId;
        }
    </script>
    
    <script id="question-item" type="text/html">
        {{each questions as question index}}
            <div class="questionnaire-paper-question" id="{{question.questionId}}">
                <a href="javascript:;" title="上移" onclick="moveUp({{index}})"><i class="icon icon-arrow-up"></i></a>
                <a href="javascript:;" title="下移" onclick="moveDown({{index}})"><i class="icon icon-arrow-down"></i></a>
                {{question.questionStem}}
                <a href="javascript:;" title="修改题目" onclick="showQuestionModal('{{index}}')"><i class="icon icon-pencil"></i></a>
                <a href="javascript:;" title="删除题目" onclick="deleteQuestion('{{question.questionId}}')"><i class="icon icon-trash"></i></a>
            </div>
        {{/each}}
    </script>
    
    <script id="saq-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="填空题"></input>
            <br/>
            <textarea class="questionnaire-question-body" rows="3"></textarea>
        </div>
    </script>
    
    <script id="mcq-s-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="单选题"></input>
            <ul class="questionnaire-question-body">
                <li>
                    <input type="radio"/><input class="questionnaire-question-choice" value="选项1"></input>
                    <input type="checkbox" class="has-input"/><span>允许填空</span></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                </li>
                <li>
                    <input type="radio"/><input class="questionnaire-question-choice" value="选项2"></input>
                    <input type="checkbox" class="has-input"/><span>允许填空</span></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                    
                </li>
            </ul>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加选项" onclick="addChoice()"><span class="icon icon-plus" aria-hidden="true"></span></a>
        </div>
    </script>
    
    <script id="mcq-m-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="多选题"></input>
            <ul class="questionnaire-question-body">
                <li>
                    <input type="checkbox"/>
                    <input class="questionnaire-question-choice" value="选项1"></input>
                    <input type="checkbox" class="has-input"/><span>允许填空</span></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                </li>
                <li>
                    <input type="checkbox""/>
                    <input class="questionnaire-question-choice" value="选项2"></input>
                    <input type="checkbox" class="has-input"/><span>允许填空</span></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加选项" onclick="addChoice()"><span class="icon icon-plus" aria-hidden="true"></span></a>
        </div>
    </script>
    
    <script id="seq-template" type="text/html">
        <div class="questionnaire-question-modal">
             <input class="questionnaire-question-stem" value="排序题"></input>
             <div class="questionnaire-question-body">
                <div class="list-group-item">
                    <i class="icon-move"></i><input value="选项"></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                </div>
             </div>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加" onclick="addToSortableList()"><span class="icon icon-plus" aria-hidden="true"></span></a>
        </div>
    </script>
    
    <script id="saq-m-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="多项填空题"></input>
            <div class="questionnaire-question-body">
                <div class="saq-m-inner-div">
                    <input class="saq-m-steam" value="选项1"></input><input class="saq-m-value"></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                </div>
                <div class="saq-m-inner-div">
                    <input value="选项2" class="saq-m-steam"></input><input class="saq-m-value"></input>
                    <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                        <i class="icon icon-remove-circle"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加" onclick="addItem()"><span class="icon icon-plus" aria-hidden="true"></span></a>
        </div>
    </script>
    
    <script id="question-update-item" type="text/html">
        {{if question.questionMethod == "SAQ"}}
            {{include 'saq-update-template' question}}
        {{/if}}
        {{if question.questionMethod == "MCQ-S"}}
            {{include 'mcq-s-update-template' question}}
        {{/if}}
        {{if question.questionMethod == "MCQ-M"}}
            {{include 'mcq-m-update-template' question}}
        {{/if}}
        {{if question.questionMethod == "SEQ"}}
            {{include 'seq-update-template' question}}
        {{/if}}
        {{if question.questionMethod == "SAQ-M"}}
            {{include 'saq-m-update-template' question}}
        {{/if}}
    </script>
    
    <script id="saq-update-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="{{questionStem}}"></input>
            <div class="questionnaire-question-body">
                <textarea id="{{questionId}}" rows="3"></textarea>
            </div>
        </div>
    </script>
    
    <script id="mcq-s-update-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="{{questionStem}}"></input>
            <div class="questionnaire-question-body">
                <ul>
                    {{each choiceList as choice}}
                        <li>
                            <input type="radio"/>
                            <input type="text" class="questionnaire-question-choice" value="{{choice.choiceText}}"/>
                            {{if choice.hasInput == true}}
                                <input type="checkbox" class="has-input" checked/><span>允许填空{{choice.hasInput}}</span></input>
                            {{else}}
                                <input type="checkbox" class="has-input"/><span>允许填空{{choice.hasInput}}</span></input>
                            {{/if}}
                            <a href="javascript:;" onclick="removeChoice(this)" title="删除选项"><i class="icon icon-remove-circle"></i></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加选项" onclick="addChoice('{{questionId}}')"><i class="icon icon-plus-sign"></i></a>
        </div>
    </script>
    
    <script id="mcq-m-update-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="{{questionStem}}"></input>
            <div class="questionnaire-question-body">
                <ul>
                    {{each choiceList as choice}}
                        <li>
                            <input type="checkbox"/>
                            <input type="text" class="questionnaire-question-choice" value="{{choice.choiceText}}"/>
                            {{if choice.hasInput == true}}
                                <input type="checkbox" class="has-input" checked/><span>允许填空{{choice.hasInput}}</span></input>
                            {{else}}
                                <input type="checkbox" class="has-input"/><span>允许填空{{choice.hasInput}}</span></input>
                            {{/if}}
                            <a href="javascript:;" onclick="removeChoice(this)" title="删除选项"><i class="icon icon-remove-circle"></i></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加选项" onclick="addChoice('{{questionId}}')"><i class="icon icon-plus-sign"></i></a>
        </div>
    </script>
    
    <script id="seq-update-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="{{questionStem}}"></input>
            <div class="questionnaire-question-body">
                <div>
                    {{each choiceList as choice}}
                        <div class="list-group-item">
                            <i class="icon-move"></i>
                            <input value="{{choice.choiceText}}"></input>
                            <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                                <i class="icon icon-remove-circle"></i>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加选项" onclick="addToSortableList()"><i class="icon icon-plus-sign"></i></a>
        </div>
    </script>
    
    <script id="saq-m-update-template" type="text/html">
        <div class="questionnaire-question-modal">
            <input class="questionnaire-question-stem" value="{{questionStem}}"></input>
            <div class="questionnaire-question-body">
                {{each choiceList as choice}}
                    <div class="saq-m-inner-div">
                        <input class="saq-m-steam" value="{{choice.choiceText}}"></input><input class="saq-m-value"></input>
                        <a href="javascript:;" onclick="removeChoice(this)" title="删除选项">
                            <i class="icon icon-remove-circle"></i>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="questionnaire-options">
            <a href="javascript:;" title="添加" onclick="addItem()"><span class="icon icon-plus" aria-hidden="true"></span></a>
        </div>
    </script>
</body>
</html>
