<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>问卷</title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- 引入共有的css -->
<script src="js/style.js"></script>
<style>
    .questionnaire-paper-preview-title{
        text-align: center;
        font-size: 20px;
    }
    
    .questionnaire-paper-preview-description, #questionnaire-paper-preview-questions{
        font-size: 14px;
    }
    
    #questionnaire-paper-preview-questions ul {
        list-style-type: none;
    }
    
    .questionnaire-question-body li, .list-group-item{
        margin-top: 10px;
    }
    .questionnaire-question-body input[type='text'] {
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: groove;
        border-left-style: none;
        width: 200px;
    }
    
    .questionnaire-question-stem {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .questionnaire-question-body textarea, .list-group-item{
        width: 30%;
        margin-left: 20px;
    }
    
    .questionnaire-hr{
        height: 3px;
        background-color: #4aab4e;
    }
    
    .saq-m-inner-div{
        margin-left: 20px;
    }
    
    #questionnaire-paper-preview-btn{
        margin-top: 20px;
    }
    
    .saq-m-inner-div{
        margin-bottom: 10px;
        height: 30px;
    }
    
    .questionnaire-question-modal{
        margin-top: 25px;
    }
    
    input[type='radio']{
        width: 15px;
        height: 15px;
    }
    /* 为可拖动的条目应用可移动光标类型 */
    .sortableList > .list-group-item {cursor: move}

    /* 为正在被拖动的条目应用半透明外观 */
    .sortableList > .list-group-item.dragging {
        visibility: visible;
        opacity: .3;
    }
</style>
</head>
<body>
    <div id="header"></div>
    <div id="main" style="width: 70%; margin-left: 15%; margin-top: 80px;">
        <div class="row">
            <a href="javascript:goback();" class="goback hidden" id="backId">返回</a>
        </div>
        <div id="questionnaire-paper-preview-head"></div>
        <div id="questionnaire-paper-preview-questions"></div>
        <div id="questionnaire-paper-preview-btn">
            <button type="button" id="submit-btn" class="btn btn-primary" aria-label="Left Align" onclick="saveAnswers()">
                <span>提交</span>
            </button>
        </div>
    </div>
    <div id="footer" class="text-center"></div>
    
    <!-- js文件放底部 -->
    <!-- 共有的js引用commos.js -->
    <script src="js/common.js"></script>
    <!--  各个页面单独用的js 各自引入-->
    <script src="lib/sortable/zui.sortable.min.js"></script>
    
    <script type="text/javascript">
        var paperId = $.getUrlParam("paperId");
        var userId = $.cookie(cookieUserIdKey);
        var examId = uuidFast(); //生成唯一标识
        var userRole = $.cookie(cookieUserRoleKey);
        var paper;
        var questions;
        
        $(function(){
            $('#header').load('header.html');
            $('#footer').load('footer.html');
            
            if(userRole != Role.Student.key) {
                $('#backId').removeClass('hidden');
                $('#submit-btn').attr('disabled', 'disabled');
            }
            
            getPaper();
            getQuestions();
        });
        
        /*单选：选择时清空其他选项的text*/
        function initRadio(obj) {
            var id = $(obj).attr('name');
            $("#"+id+" input[type='text']").each(function(i){
                $(this).val('');
            });
        }
        
        function goback() {
            location.href = 'questionnaire-paper.html?paperId=' + paperId;
        }
        
        function getPaper() {
            $.ajax({
                type: 'GET',
                url: 'questionnairePapers/' + paperId,
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        paper = data['data'];
                        $('#questionnaire-paper-preview-head').html(template('paper-info', {'paper': paper}));
                    } else {
                        new $.zui.Messager('获取问卷信息失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        function getQuestions() {
            $.ajax({
                type: 'GET',
                url: 'questionnaireQuestions/' + paperId + '/questions',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        questions = data['data'];
                        $('#questionnaire-paper-preview-questions').html(template('question-item', {'questions': questions}));
                        // 初始化时传入选项参数
                        $('.sortableList').sortable();
                    } else {
                        new $.zui.Messager('获取试题信息失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        /**选择题目中点击input自动选中该选项**/
        function autoChecked(obj) {
            $(obj).siblings().eq(0).prop("checked",true);
            initRadio($(obj).siblings().eq(0)); //清空其他选项的text值
        }
        
        function saveAnswers() {
            var answer = {};
            for(index in questions) {
                var question = questions[index];
                var questionId = question["questionId"];
                if(question['questionMethod'] == 'SEQ') {
                    //排序题
                    var choices = [];
                    $("#"+questionId+" .list-group-item").each(function(i) {
                        choices.push($(this).text());
                    });
                    answer[questionId] = choices;
                } else if(question['questionMethod'] == 'MCQ-M' || question['questionMethod'] == 'MCQ-S') {
                    //单选题 & 多选题
                    var choices = [];
                    $("#"+questionId+" :checked").each(function(i){
                        var inputValue = $(this).nextAll().eq(1).val();
                        if(typeof(inputValue) =='undefined') { //选项后边没有空
                            choices.push($(this).val());
                        }else {
                            var temp = {};
                            temp[$(this).val()] = inputValue;
                            choices.push(JSON.stringify(temp));
                        }
                    });
                    answer[questionId] = choices;
                } else if(question['questionMethod'] == 'SAQ-M') {
                    //多项填空题目
                    var choices = [];
                    $("#"+questionId+" .saq-m-inner-div").each(function(i){
                        var value= $("#"+questionId+" .saq-m-value:eq("+i+")").val();
                        if(value != "") {
                            var temp = {};
                            var key = $("#"+questionId+" .saq-m-steam:eq("+i+")").html();
                            temp[key] = value;
                            choices.push(JSON.stringify(temp));
                        }
                    })
                    answer[questionId] = choices;
                } else {
                    //填空
                    var temp = [];
                    temp.push($("#"+questionId+" textarea").val());
                    answer[questionId] = temp;
                }
            }
            $.ajax({
                type: 'POST',
                url: serverUrl + 'exams/item/' + examId + '/' + userId ,
                data: {
                    type : gz.global.type_survy,
                    paperId: paperId,
                    answer : JSON.stringify(answer)
                },
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        window.location.href = "user-exam.html";
                    } else {
                        new $.zui.Messager('提交问卷失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                    new $.zui.Messager('提交问卷失败', zuiMessager.fail).show();
                }
            });
        }
    </script>
    
    <script id="paper-info" type="text/html">
        <div class="questionnaire-paper-preview-title">
            <p>{{paper.paperName}}</p>
        </div>
        <div class="questionnaire-paper-preview-description">
            {{paper.paperDescription}}
        </div>
        <div class="questionnaire-hr">
            <hr/>
        </div>
    </script>
    
    <script id="question-item" type="text/html">
        {{each questions as question}}
        {{if question.questionMethod == "SAQ"}}
            {{include 'saq-template' question}}
        {{/if}}
        {{if question.questionMethod == "MCQ-S"}}
            {{include 'mcq-s-template' question}}
        {{/if}}
        {{if question.questionMethod == "MCQ-M"}}
            {{include 'mcq-m-template' question}}
        {{/if}}
        {{if question.questionMethod == "SEQ"}}
            {{include 'seq-template' question}}
        {{/if}}
        {{if question.questionMethod == "SAQ-M"}}
            {{include 'saq-m-template' question}}
        {{/if}}
        {{/each}}
    </script>
    
    <script id="saq-template" type="text/html">
        <div class="questionnaire-question-modal" id="{{questionId}}">
            <div class="questionnaire-question-stem">{{questionStem}}</div>
            <div class="questionnaire-question-body">
                <textarea class="text" rows="3" value="aabbcc"></textarea>
            </div>
        </div>
    </script>
    
    <script id="mcq-s-template" type="text/html">
        <div class="questionnaire-question-modal" id="{{questionId}}">
            <div class="questionnaire-question-stem">{{questionStem}}</div>
            <div class="questionnaire-question-body">
                <ul>
                {{each choiceList as choice i}}
                    <li>
                        <input type="radio" value="{{choice.choiceText}}" name="{{questionId}}" onclick="initRadio(this);">
                            <span>{{choice.choiceText}}</span>
                        </input>
                        {{if choice.hasInput}}
                            <input type="text" onclick="autoChecked(this)"/>
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </script>
    
    <script id="mcq-m-template" type="text/html">
        <div class="questionnaire-question-modal" id="{{questionId}}">
            <div class="questionnaire-question-stem">{{questionStem}}</div>
            <div class="questionnaire-question-body">
                <ul>
                    {{each choiceList as choice}}
                        <li>
                            <input type="checkbox" value="{{choice.choiceText}}">
                                <span>{{choice.choiceText}}</span>
                            </input>
                            {{if choice.hasInput}}
                                <input type="text" onclick="autoChecked(this)"/>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </script>
    
    <script id="seq-template" type="text/html">
        <div class="questionnaire-question-modal" id="{{questionId}}">
            <div class="questionnaire-question-stem">{{questionStem}}</div>
            <div class="list-group sortableList">
                {{each choiceList as choice}}
                    <div class="list-group-item"><i class="icon-move"></i>{{choice.choiceText}}</div>
                {{/each}}
            </div>
        </div>
    </script>
    
    <script id="saq-m-template" type="text/html">
        <div class="questionnaire-question-modal" id="{{questionId}}">
            <div class="questionnaire-question-stem">{{questionStem}}</div>
            <div class="questionnaire-question-body">
                {{each choiceList as choice}}
                    <div class="saq-m-inner-div">
                        <span class="saq-m-steam">{{choice.choiceText}}</span> <input class="saq-m-value" type="text"></input>
                    </div>
                {{/each}}
            </div>
        </div>
    </script>
</body>
</html>