<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- css文件 放头部-->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jplayer/jplayer.blue.monday.css"/>
    <!-- 引入共有的css -->
    <script src="js/style.js"></script>
</head>
<body>
<div id="header"></div>
<div id="main">
    <div class="container-fluid">
        <!--顶部-->
        <div class="row">
            <!--倒计时-->
            <div class="col-md-4 col-md-offset-2 countdown">00:00:00</div>
            <!--进度条-->
            <!--<div class="col-md-4 col-md-offset-2 hide">-->
            <!--<div class="progress">-->
            <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="progressbar">-->
            <!--<span class="sr-only"></span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--交卷按钮-->
            <div class="col-md-3 col-md-offset-3 text-right">
                <button id="submitBtn" class="btn btn-primary btn-lg" type="button">交卷</button>
            </div>
        </div>
        <!-- 试卷正文-->
        <div id="paper-part" class="row task-body"></div>

        <!--底部-->
        <div class="row footer-div">
            <div class="col-md-12 text-center">
                <!--<button id="btn-datika" type="button" class="btn btn-success">答题卡</button>-->
                <div id="datika"></div>
            </div>
        </div>

    </div>
</div>

<div id="footer" class="text-center"></div>

<div class="modal fade" id="examInfoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">考试须知</h4>
            </div>
            <div class="modal-body">
                <div id="examInfo"></div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="enterExam(1);">开始考试</button>
                </div>
        </div>
    </div>
</div>

<!-- js文件放底部 -->
<!-- 共有的js引用commos.js -->
<script src="js/common.js"></script>
<!--  各个页面单独用的js 各自引入-->
<script src="lib/jplayer/jquery.jplayer.min.js"></script>
<script src="lib/sortable/zui.sortable.min.js"></script>
<script type="text/javascript">

    var userId = $.cookie(cookieUserIdKey);
    var examId = $.getUrlParam('examId');
    // 根据阶段获取不同试卷
    var type = gz.global.type_first;
    $(function () {
        document.title = gz.global.title;
        $('#header').load('header.html');
        $('#footer').load('footer.html');
        //屏蔽退格删除键,屏蔽 F5 刷新键,Ctrl + R
        $(document).bind("keydown", function (e) {
            e = window.event || e;
            if (e.keyCode == 116) {
                e.keyCode = 0;
                return false;
            }
        });
        //禁止右键刷新
        document.oncontextmenu = function () {
            return false;
        };

        // 从缓存中恢复
        resume_exam_info(examId, userId);
        getExamInfo();
        // 优化，读取考试须知时获取所需试卷
        getPaper();
        saveAudio2Page();

        window.setInterval(function () {
            cacheData(); //每隔3分钟自动保存页面数据
        }, 1000 * 60 * 3);

        $("#datika").delegate("#btn-next","click",function(e){
            e.preventDefault();
            nextTask();
        });

        $("#datika").delegate("#btn-back","click",function(e){
            e.preventDefault();
            prefTask();
        });

        $('#submitBtn').on('click', function () {
            submitPageWithConfirm();
        });

//        $('#btn-datika').on('mouseover', function () {
//            $('#btn-datika').popover('toggle');
//        });
    });

    template.helper('getStem', function (stemArr) {
        if (stemArr.length === 1) {
            return clearHtml(stemArr[0]);
        }
    });
    template.helper('getItemSN', function (index) {
        return String.fromCharCode(index);
    });

    template.helper('turnDate', function (timestamp) {
        return turnDate(timestamp);
    });
    // 判断是否作答
    template.helper('ifDone', function (arr) {
        var flag = true;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] !== '' && arr[i] !== 'false') {
                flag = false;
                break;
            }
        }
        return flag;
    });

    template.helper('getSkillLabel', function (skill) {
        gz.getSkillLabel(skill);
    });

    function enterExam(flag) {
        if (flag === 0) {//续考

        } else {//开始考试
            setStartTime();
            $('#examInfoModal').modal('hide');
        }
        // 倒计时开始
        setCountdown();
    }

    function setStartTime() {
        $.ajax({
            url: serverUrl + 'exams/setstarttime',
            type: 'PUT',
            data: {
                userId: userId,
                examId: examId,
                paperId: paper['paperId'],
                type: type
            },
            beforeSend: $.beforeSend,
            async: true,
            success: function (data) {
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                window.console.log(textStatus);
                window.console.log(errorThrown);
            }
        });
    }

    function getExamInfo() {
        $.ajax({
            type: "GET",
            url: serverUrl + 'exams/' + examId,
            beforeSend: $.beforeSend,
            aysnc: false,
            success: function (data) {
                $('#examInfo').html(template('examInfo-tpl', data.data));
                // 考试总时间
                var examCountDownTime = data.data.duration; // 单位分钟换算成秒
                // 考试总倒计时 根据考试计时规则修改 examCountDownTime
                if (time == 0) {
                    time = examCountDownTime * 60;
                }
                // 判断首次进入考试显示考试须知
                if (type == gz.global.type_first && time == examCountDownTime * 60) {
                    $('#examInfoModal').modal({
                        backdrop: 'static',
                        keyboard: false,
                        position: 'fit'
                    });
                } else {
                    enterExam(0);
                }
                $('#submitBtn').addClass('hidden');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                gz.logger(textStatus);
                gz.logger(errorThrown);
            }
        });
    }

    // 倒计时规则 不同阶段考试时长 总时长=定级时长+诊断时长
    var time = 0;  // 总倒计时时间
    var timer;
    function setCountdown() {
        timer = window.setInterval(function () {
            time--;
            if (time >= 0) {
                var h = Math.floor(time / 3600);
                var m = Math.floor(time % 3600 / 60);
                var s = time % 60;
                var label = (h > 9 ? h : '0' + h) + ':' + (m > 9 ? m : '0' + m) + ':' + (s > 9 ? s : '0' + s);
                $('.countdown').html(label);
            }
            if (time === 300 && type === gz.global.type_second) {//距考试结束5分钟提醒
                fiveAlert();
            }
            if (time === 0) {
                submitAnswer();
            }
        }, 1000);
    }

    function fiveAlert() {
        var count = clacNoDealCount();
        if (count > 0) {
            new $.zui.Messager('<span class="h4">提示：距考试结束还有5分钟！你有' + count + '道题目没有作答，请合理安排时间！</span>', {
                        icon: 'heart',
                        type: 'warning',
                        time: 2000,
                        placement: 'top'
                    }
            ).show();
        } else {
            new $.zui.Messager('<span class="h4">提示：距考试结束还有5分钟！请合理安排时间！</span>', {
                        icon: 'heart',
                        type: 'warning',
                        time: 2000,
                        placement: 'top'
                    }
            ).show();
        }
    }

    /**
     * 完形填空题
     */
    function createItemSAQH(item) {
        var blankLen = $.trim($('#task-text a[href="' + item['itemId'] + '"]').html()).length * 14;
        var html = '&nbsp;<span class="label label-badge label-primary">' + item['index'] + '</span>';
        html += '<input type="text" class="item-answer" name="' + item['itemId'] + '" style="width:' + blankLen + 'px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">';
        html += '&nbsp;';
        $('#task-text a[href="' + item['itemId'] + '"]').replaceWith(html);
    }

    /**
     * 有提示的完形填空题
     */
    function createItemFormationH(item) {
        var blankLen = $.trim($('#task-text a[href="' + item['itemId'] + '"]').html()).length * 14;
        var html = '&nbsp;<span class="label label-badge label-primary">' + item['index'] + '</span>';
        html += '<input type="text" class="item-answer" name="' + item['itemId'] + '" style="width:' + blankLen + 'px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">';
        html += '<span class="text-italic">(' + item['itemPrompt'] + ')</span>&nbsp;';
        $('#task-text a[href="' + item['itemId'] + '"]').replaceWith(html);
    }

    /**
     * 完形
     */
    function createItemMCQH(item) {
        var html = '&nbsp;<span class="label label-badge label-primary">' + item['index'] + '</span>'
                + '<select name="' + item['itemId'] + '" class="item-answer" style="width:auto;">';
        html += '<option value=""></option>';
        for (var i = 0, max = item['itemOption'].length; i < max; i++) {
            html += '<option value="' + i + '">' + String.fromCharCode(65 + i) + '. ' + clearHtml(item['itemOption'][i]) + '</option>';
        }
        html += '</select>&nbsp;';
        $('#task-text a[href="' + item['itemId'] + '"]').replaceWith(html);
    }

    /**
     * 共享选项的完形
     */
    function createItemMMH(item) {
        for (var i = 0, max = item['itemStem'].length; i < max; i++) {
            var html = '&nbsp;<span class="label label-badge label-primary">' + (item['index'] + i) + '</span>'
                    + '<select name="' + item['itemId'] + '" id="' + item['itemStem'][i]
                    + '" class="item-answer" style="width:auto;">';
            html += '<option value=""></option>';
            for (var j = 0, jmax = item['itemOption'].length; j < jmax; j++) {
                html += '<option value="' + j + '">' + String.fromCharCode(65 + j) + '. ' + clearHtml(item['itemOption'][j]) + '</option>';
            }
            html += '</select>&nbsp;';
            $('#' + item['itemStem'][i]).replaceWith(html);
        }
    }

    /**
     * 考试部分音频文件仅允许听一次，且播放后不可操作
     * @param url
     */
    function showMedia(url) {
        var taskId = paper['taskList'][taskIndex]['taskId'];
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer('setMedia', {
                    title: "音频加载中……",
                    mp3: url
                });
                // $(this).jPlayer("load");
                $('#jp_container_1 .jp-seek-bar').unbind('click');//解除点击进度条控制进度的事件
                $('#jp_container_1 .jp-play').parent().addClass('hide');
            },
            play: function () {
                $('#jp_container_1 .jp-play').remove();
            },
            ended: function (event) {
                $(this).jPlayer('pause', event.jPlayer.status.duration - .01);
            },
            loadeddata: function () {
                $('#jp_container_1 .jp-play').parent().removeClass('hide');
                $(this).jPlayer('pause', audioCurrentTime[taskId] || 0); // 续考时音频中断时间
                $('#jp_container_1 .jp-title').parent().addClass('hide');
            },
            preload: 'auto',
            swfPath: '.',
            supplied: 'mp3',
            wmode: 'window',
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            loop: false,
            toggleDuration: true
        });
    }

    var paper = {};
    var tasks = {};
    var taskIndex = 0;
    //    var paperTime = 0;
    function getPaper() {
        $.ajax({
            type: 'POST',
            url: serverUrl + 'exams/' + examId + '/' + userId + '/paper',
            async: false,
            beforeSend: $.beforeSend,
            data: {
                type: type
            },
            success: function (data) {
                if (type != gz.global.type_vspt && data['status'] === 200) {
                    paper = data.data;
                    tasks = paper['taskList'];
                    setItemIndex(tasks);
//                   paperTime = paper.duration;
//                   if(time == 0){
//                       time = paperTime;
//                   }
                    if ($.isEmptyObject(paper)) {
                        $('#submitBtn').addClass('disabled');
                        $('#btn-next').addClass('disabled');
                        $('#btn-back').addClass('disabled');
                        return;
                    }
                    renderTask(taskIndex);
                    renderDatika(paper);
                } else {
                    if ($.isEmptyObject(paper)) {
                        $('#submitBtn').addClass('disabled');
                        $('#btn-next').addClass('disabled');
                        $('#btn-back').addClass('disabled');
                    }
                    paper = {};
                    answer = {};
                    $('#paper-part').html('对不起，好像没有可用的试卷！');
                    renderDatika(paper);
                    new $.zui.Messager('对不起，好像没有可用的试卷！', {
                                icon: 'exclamation-sign',
                                type: 'special',
                                time: 5000,
                                scale: true,
                                placement: 'top'
                            }
                    ).show();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }

    /*判断缓存中是否存在考试信息,如果从缓存中恢复*/
    function resume_exam_info(examId, userId) {
        $.ajax({
            url: serverUrl + 'exams/resume_exam_info/' + examId + '/' + userId,
            type: 'POST',
            data: {},
            beforeSend: $.beforeSend,
            async: false, // 需要发送同步请求
            success: function (result) {
                if (result.data) {
                    //gz.logger("=====从缓存中恢复===== ");
                    //gz.logger(result.data);
                    taskIndex = result.data.nowTaskIndex || taskIndex;
                    if (result.data.countDown == 0) {
                        time = 0;
                    } else {
                        time = result.data.countDown;
                    }
                    answer = result.data.ansHistorys || answer;
                    type = result.data.paperType || type;
                } else { //没有缓存数据 首次开始考试
                    time = 0;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                window.console.log(textStatus);
                window.console.log(errorThrown);
            }
        });
    }

    /**
     * 设置题目编号
     */
    function setItemIndex(tasks) {
        var index = 1;
        for (var i = 0; i < tasks.length; i++) {
            for (var j = 0; j < tasks[i]['itemList'].length; j++) {
                var item = tasks[i]['itemList'][j];
                item['index'] = index;
                if (item['method'] === 'mm-hollow' || item['method'] === 'mm') {
                    index += item['itemStem'].length;
                } else {
                    index++;
                }
            }
        }
    }

    function prefTask() {
        saveTaskToPage(tasks[taskIndex]);
        if (taskIndex == 0) {
            new $.zui.Messager('已经最开始，没有题目啦!', zuiMessager.fail).show();
            return;
        } else {
            taskIndex--;
        }
        renderTask(taskIndex);
        renderDatika(paper);
    }

    function nextTask() {
        saveTaskToPage(tasks[taskIndex]);
        if (taskIndex == tasks.length - 1) {
            if (type === gz.global.type_second) {
                new $.zui.Messager('已经是最后，没有题目啦!', zuiMessager.fail).show();
                return;
            } else {
                bootbox.confirm('提交后不能返回修改，是否确认提交？', function (result) {
                    if (result) {
                        submitAnswer();
                    } else {
                        return;
                    }
                });
            }
        } else {
            taskIndex++;
        }
        renderTask(taskIndex);
        renderDatika(paper);
    }

    function goTask(index) {
        saveTaskToPage(tasks[taskIndex]);
        renderTask(index);
        renderDatika(paper);
    }

    function renderTask(index) {
        if ($.isEmptyObject(paper)) {
            return;
        }
        taskIndex = index;
        if (taskIndex === 0) {
            $('#btn-back').addClass('disabled');
            $('#btn-next').removeClass('disabled');
        } else if (taskIndex === tasks.length - 1) {
            if( type === gz.global.type_second){
                $('#btn-next').addClass('disabled');
            }
            $('#btn-back').removeClass('disabled');
        } else {
            $('#btn-next').removeClass('disabled');
            $('#btn-back').removeClass('disabled');
        }

        // 默认渲染第一个后续根据缓存渲染上次中断
        if (taskIndex >= 0 && taskIndex < tasks.length) {
            if (tasks[taskIndex]['skill'] === 'S1') { // 听力
                $('#paper-part').html(template('listen-tpl', {task: tasks[taskIndex], answer: answer}));
            } else if (tasks[taskIndex]['skill'] === 'S2') { // 阅读
                var showLeft = false;
                if (tasks[taskIndex]['textContent'] && $.trim(tasks[taskIndex]['textContent'].replace(/<.+?>/g, '')) !== '') {
                    showLeft = true;
                }
                var showRight = false;
                for (var i = 0; i < tasks[taskIndex]['itemList'].length; i++) {
                    if (tasks[taskIndex]['itemList'][i]['method'].indexOf('hollow') == -1) {
                        showRight = true;
                        break;
                    }
                }
                if (showLeft && showRight) {
                    $('#paper-part').html(template('read-tpl', {task: tasks[taskIndex], answer: answer}));
                } else if (!showLeft && showRight) { // 听力布局
                    $('#paper-part').html(template('listen-tpl', {task: tasks[taskIndex], answer: answer}));
                } else {
                    $('#paper-part').html(template('listen-tpl', {task: tasks[taskIndex], answer: answer}));
                }
            }

            // 处理 hollow挖空题型
            for (var i = 0; i < tasks[taskIndex]['itemList'].length; i++) {
                var item = tasks[taskIndex]['itemList'][i];
                switch (item['method']) {
                    case 'mm-hollow':
                        createItemMMH(item);
                        break;
                    case 'saq-hollow':
                        createItemSAQH(item);
                        break;
                    case 'formation-hollow':
                        createItemFormationH(item);
                        break;
                    case 'mcq-hollow':
                        createItemMCQH(item);
                        break;
                    default:
                        break;
                }
            }

            // 答案回显
            for (var i = 0; i < tasks[taskIndex]['itemList'].length; i++) {
                var item = tasks[taskIndex]['itemList'][i];
                setAnswer(item);
            }
        }
        if (tasks[taskIndex]['skill'] === 'S1') {
            // TODO 测试音频
            tasks[taskIndex]['medias'] = 'http://uzx.iceshi.org:8080/jz/media/e5b8347f-3758-4832-83d1-48a9829ad446/audio/7%E7%BA%A7Gist-task8-%E5%A4%A9%E6%B4%A514-15%E5%B9%B4%E9%AB%98%E4%BA%8C%E4%B8%8A%E6%9C%9F%E6%9C%AB(1%E9%A2%98).mp3';
            if (tasks[taskIndex]['medias']) {
                showMedia(tasks[taskIndex]['medias']);
            } else {
                $('#jquery_jplayer_1').next().remove();
                $('#jquery_jplayer_1').remove();
            }
        } else {
            $('#jquery_jplayer_1').next().remove();
            $('#jquery_jplayer_1').remove();
        }

        // 初始化时传入选项参数
        $('.sortableList').sortable();
    }

    var audioCurrentTime = {};
    // 每隔2s保存一下音频播放时间
    function saveAudio2Page() {
        window.setInterval(function () {//防止用户刷新页面重新听
            if ($('#jquery_jplayer_1').data('jPlayer')) {
                var status = $('#jquery_jplayer_1').data('jPlayer').status;
                if (!status.paused) {
                    window.console.log(status.currentTime);
                    audioCurrentTime[tasks[taskIndex]['taskId']] = status.currentTime;
                }
            }
        }, 2000);
    }

    /**
     * 设置用户作答数据
     * @param item题目对象
     */
    function setAnswer(item) {
        var itemId = item['itemId'];
        if (answer[itemId] && answer[itemId].length > 0) {
            var method = item['method'];
            switch (method) {
                case 'saq' :
                case 'writing' :
                    $('textarea[name="' + itemId + '"]').val(answer[itemId][0]);
                    break;
                case 'mcq' :
                case 'mmcq' :
                    var arr = [];
                    for (var i = 0; i < answer[itemId].length; i++) {
                        if (answer[itemId][i] === 'true') {
                            arr.push(i);
                        }
                    }
                    $('input[name="' + itemId + '"]').val(arr);
                    break;
                case 'mm' :
                    for (var i = 0; i < answer[itemId].length; i++) {
                        $('select[name="' + itemId + '"]').val(answer[itemId][i]);
                    }
                    break;
                case 'sequencing' :
                    var html = '';
                    for (var i = 0, max = item['itemStem'].length; i < max; i++) {
                        var index = parseInt(answer[itemId][i]);
                        html += '<div class="list-group-item" order="' + index + '"><i class="icon-move"></i>' + clearHtml(item['itemStem'][index]) + '</div>';
                    }
                    $('#' + item['itemId']).empty();
                    $('#' + item['itemId']).append(html);
                    break;
                case 'saq-hollow' :
                case 'formation-hollow' :
                    $('input[name="' + itemId + '"]').val(answer[itemId][0]);
                    break;
                case 'mcq-hollow' :
                    for (var i = 0; i < answer[itemId].length; i++) {
                        if (answer[itemId][i] === 'true') {
                            $('select[name="' + itemId + '"]').val(i);
                            break;
                        }
                    }
                    break;
                case 'mm-hollow' :
                    for (var i = 0; i < item['itemStem'].length; i++) {
                        $('#' + item['itemStem'][i]).val(answer[itemId][i]);
                    }
                    break;
            }
        }
    }

    function clearHtml(html) {
        return html.replace(/<.+?>/g, '');
    }

    function renderDatika(paper) {
        // 设置进度条
        //setProgress();
        // 重新渲染前先销毁
        //$('#btn-datika').popover('destroy');
        $('#datika').html(template('datika2-tpl', {paper: paper, answer: answer}));
        // 显示答题卡
//        $('#btn-datika').popover({
//            tipClass: 'popover-success',
//            placement: 'top',
//            title: '答题卡',
//            html: true,
//            content: $('#datika').html()
//        });
    }

    // 缓存页面数据
    function cacheData() {
        if (time < 0) {
            time = 0;
        }
        // 当前作答缓存到redis中
        if ($.isEmptyObject(answer)) {
            answer = {};
        }
        $.ajax({
            type: 'POST',
            url: serverUrl + 'exams/cache/' + examId + '/' + userId,
            data: {
                // 倒计时信息 答题进度等
                nowTaskIndex: taskIndex,
                time: time,
                type: type,
                paperId: paper['paperId'],
                audioCurrentTime: JSON.stringify(audioCurrentTime),
                answer: JSON.stringify(answer)
            },
            async: true,
            beforeSend: $.beforeSend,
            success: function (data) {
                if (data['status'] === 200) {
                    // 缓存成功
                    new $.zui.Messager('暂存作答成功', {
                                icon: 'heart',
                                type: 'important',
                                time: 1000,
                                placement: 'bottom-right'
                            }
                    ).show();
                } else {
                    new $.zui.Messager('暂存作答失败', {
                                icon: 'heart',
                                type: 'important',
                                time: 1000,
                                placement: 'bottom-right'
                            }
                    ).show();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                window.console.log(textStatus);
                window.console.log(errorThrown);
            }
        });
    }

    /**
     *在页面上保存当前task的作答数据
     */
    var answer = {};
    function saveTaskToPage(task) {
        if (task) {
            for (var i = 0; i < task['itemList'].length; i++) {
                saveItemToPage(task['itemList'][i]);
            }
            cacheData();
        }
    }
    function saveItemToPage(item) {
        var method = item['method'];
        var itemId = item['itemId'];
        answer[itemId] = [];
        var arr = [];
        switch (method) {
            case 'saq' :
            case 'writing' :
                $('textarea[name="' + itemId + '"]').val(answer[itemId][0]);
                break;
            case 'mm' :
            case 'saq-hollow' :
            case 'formation-hollow' :
                $('[name = "' + itemId + '"]').each(function () {
                    arr.push($(this).val());
                });
                answer[itemId] = arr;
                break;
            case 'sequencing' :
                // 排序题答案组装
                $('#' + itemId + '>.list-group-item').each(function (i, n) {
                    arr.push($(this).attr('order'));
                });
                answer[itemId] = arr;
                break;
            case 'mm-hollow' :
                for (var j = 0, jmax = item['itemStem'].length; j < jmax; j++) {
                    arr.push($('#' + item['itemStem'][j]).val());
                }
                answer[itemId] = arr;
                break;
            // 单选、多选
            case 'mcq' :
            case 'mmcq':
                $('[name = "' + itemId + '"]').each(function () {
                    arr.push(this.checked + '');
                });
                answer[itemId] = arr;
                break;
            case 'mcq-hollow' :
                var optionIndex = $.trim($('[name="' + itemId + '"]').val());
                if (optionIndex !== '') {
                    for (var i = 0; i < item['itemOption'].length; i++) {
                        if (parseInt(optionIndex) === i) {
                            arr.push(true + '');
                        } else {
                            arr.push(false + '');
                        }
                    }
                    answer[itemId] = arr;
                }
                break;
        }

    }

    // 提交答案
    function submitAnswer() {
        $.ajax({
            type: 'POST',
            url: serverUrl + 'exams/item/' + examId + '/' + userId,
            data: {
                type: type,
                paperId: paper['paperId'],
                examId: examId,
                answer: JSON.stringify(answer)
            },
            async: true,
            beforeSend: $.beforeSend,
            success: function (data) {
                if (data['status'] === 200) {
                    // 根据考试阶段获取下阶段题目
                    if (type == gz.global.type_first) {
                        type = gz.global.type_second;
                        answer = {};
                        // time  = 0; // 新试卷重新开始倒计时
                        taskIndex = 0;
                        getPaper();
                        setStartTime();
                        //clearInterval(timer);
                        //setCountdown();
                        $('#submitBtn').removeClass('hidden');

                    } else if (type == gz.global.type_second) {
                        // TODO 根据提交答案返回报告 
                        // TODO 从缓存中删除用户信息
                        return location.href = "user-report.html";
                    }
                } else {
                    new $.zui.Messager('提交答案失败', zuiMessager.fail).show();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                window.console.log(textStatus);
                window.console.log(errorThrown);
            }
        });
    }

    function totalItemCount() {
        var count = 0;
        for (var i = 0; i < tasks.length; i++) {
            for (var j = 0; j < tasks[i]['itemList'].length; j++) {
                var item = tasks[i]['itemList'][j];
                var method = item['method'];
                if (method === 'mm-hollow' || item['method'] === 'mm') {
                    count += item['itemStem'].length;
                } else {
                    count++;
                }
            }
        }
        return count;
    }

    function clacNoDealCount() {
        var count = 0;
        for (var i = 0; i < tasks.length; i++) {
            for (var j = 0; j < tasks[i]['itemList'].length; j++) {
                var item = tasks[i]['itemList'][j];
                var itemId = item['itemId'];
                if (answer[itemId] && answer[itemId].length > 0 && !arrayIsEmpty(answer[itemId])) {
                    for (var k = 0; k < answer[itemId].length; k++) {
                        if (answer[itemId][k] === '') {
                            count++;
                        }
                    }
                } else {
                    if (item['method'] === 'sequencing') {
                        count++;
                    } else {
                        count += item['itemStem'].length;
                    }
                }
            }
        }
        return count;
    }

    function setProgress() {
        var total = totalItemCount();
        var nodealCount = clacNoDealCount();
        var pcent = Math.round((total - nodealCount) / total * 10000) / 100.00 + "%";
        $('#progressbar').attr('style', 'width:' + pcent);
    }

    function arrayIsEmpty(arr) {
        var flag = true;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] !== '' && arr[i] !== 'false') {
                flag = false;
                break;
            }
        }
        return flag;
    }

    function submitPageWithConfirm() {
        saveTaskToPage(tasks[taskIndex]);
        var count = clacNoDealCount();
        if (count > 0) {
            bootbox.confirm('你有' + count + '题没有作答！确认交卷？', function (result) {
                if (result) {
                    submitAnswer();
                } else {
                    return;
                }
            });
        } else {
            bootbox.confirm('确认交卷？', function (result) {
                if (result) {
                    submitAnswer();
                } else {
                    return;
                }
            });
        }
    }

</script>
<script id="listen-tpl" type="text/html">
    <!-- 题目说明 -->
    <div class="task-instruction">{{#task.instruction}}</div>
    <div class="with-padding scrollbar-hover" style="overflow: auto;">
        <h3>{{task.taskName}}</h3>
        <!-- 使用jplayer -->
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-play" role="button" tabindex="0">play</button>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder">
                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                    </div>
                </div>
                <div class="jp-details">
                    <div class="jp-title" aria-label="title">&nbsp;</div>
                </div>
                <div class="jp-no-solution">
                    <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your'
                    <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        {{ if task.skill == 'S2'}}
            <div id="task-text">{{#task.textContent}}</div>
        {{/if}}
        {{each task.itemList as item i}}
            {{include 'item-tpl' item}}
        {{/each}}
    </div>
</script>
<script id="read-tpl" type="text/html">
    <!--试题正文内容 阅读布局-->
    <!-- 题目说明 -->
    <div class="task-instruction">{{#task.instruction}}</div>
    <div class="col-md-6 left-content">
        <div class="scrollbar-hover" style="height: 540px; overflow: auto;">
            <h3>{{task.taskName}}</h3>
            <div>{{#task.textContent}}</div>
        </div>
    </div>
    <div class="col-md-6 right-content">
        <div class="scrollbar-hover" style="max-height: 540px; overflow: auto;">
            {{each task.itemList as item}}
                {{include 'item-tpl' item}}
            {{/each}}
        </div>
    </div>
</script>
<script id="datika-tpl" type="text/html">
    <div class="scrollbar-hover" style="max-height: 300px; overflow: scroll;">
        {{each paper.taskList as task index}}
        <div><h4>{{task.taskName}} </h4>
            <div class="tihao">
                {{each task.itemList as item}}
                    {{ if item['method'] == 'mm-hollow' || item['method'] == 'mm'}}
                        {{each item.itemStem as stem j}}
                            {{if answer[item.itemId] && answer[item.itemId][j] && !ifDone(answer[item.itemId][j]) }}
                            <a href="javascript:goTask({{index}});"><span
                                    class="label label-badge label-primary">{{item.index + j}}</span></a>
                            {{else}}
                            <a href="javascript:goTask({{index}});"><span class="label label-badge">{{item.index + j}}</span></a>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{if answer[item.itemId] && !ifDone(answer[item.itemId]) }}
                        <a href="javascript:goTask({{index}})"><span
                                class="label label-badge label-primary">{{item.index}}</span></a>
                        {{else}}
                        <a href="javascript:goTask({{index}})"><span class="label label-badge">{{item.index}}</span></a>
                        {{/if}}
                    {{/if}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="foot">
        <span class="label-primary">已做过</span>
        <span class="no-com">未做过</span>
    </div>
</script>
<script id="datika2-tpl" type="text/html">
    <ul class="pager pager-loose pager-pills">
        <li class="previous pull-left"><a id="btn-back" class="text-primary" type="button" title="Back"><i class="icon icon-backward"></i>Back</a></li>
        {{each paper.taskList as task index}}
            {{each task.itemList as item}}
                {{ if item['method'] == 'mm-hollow' || item['method'] == 'mm'}}
                    {{each item.itemStem as stem j}}
                        <li {{if answer[item.itemId] && answer[item.itemId][j] && !ifDone(answer[item.itemId][j]) }} class="active" {{/if}}>
                            <a href="javascript:goTask({{index}});">{{item.index + j}}</a>
                        </li>
                    {{/each}}
                {{else}}
                    <li {{if answer[item.itemId] && !ifDone(answer[item.itemId]) }} class="active" {{/if}}>
                        <a href="javascript:goTask({{index}});">{{item.index}}</a>
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
        <li class="next pull-right"><a id="btn-next" class="text-primary " type="button" title="Next"><i class="icon icon-forward"></i>Next</a></li>
    </ul>
</script>

<script id="item-tpl" type="text/html">
    {{if method == "saq"}}
        {{include 'saq-tpl' item}}
    {{/if}}
    {{if method == "writing"}}
        {{include 'writing-tpl' item}}
    {{/if}}
    {{if method == "mcq"}}
        {{include 'mcq-tpl' item}}
    {{/if}}
    {{if method == "mmcq"}}
        {{include 'mmcq-tpl' item}}
    {{/if}}
    {{if method == "mm"}}
        {{include 'mm-tpl' item}}
    {{/if}}
    {{if method == "sequencing"}}
        {{include 'sequencing-tpl' item}}
    {{/if}}

</script>
<script id="saq-tpl" type="text/html">
    <div>
        <!--题干-->
        <div class="stem"><span class="label label-badge label-primary">{{index}}</span> {{getStem(itemStem)}}</div>
        <textarea name="{{itemId}}" rows="3" autocomplete="off" autocorrect="off" autocapitalize="off"
                  spellcheck="false"></textarea>
    </div>
</script>
<script id="writing-tpl" type="text/html">
    <div class="item-container">
        <!--题干-->
        <div class="stem"><span class="label label-badge label-primary">{{index}}</span> {{getStem(itemStem)}}</div>
        <textarea rows="80" name="{{itemId}}" autocomplete="off" autocorrect="off" autocapitalize="off"
                  spellcheck="false"></textarea>
    </div>
</script>
<script id="mcq-tpl" type="text/html">
    <div id="item_{{itemId}}" class="item_box">
        <!--题干-->
        <div class="stem"><span class="label label-badge label-primary">{{index}}</span> {{getStem(itemStem)}}</div>
        <!--选项-->
        {{each itemOption as option index}}
        <div class="radio">
            <label>
                <input type="radio" name="{{itemId}}" value="{{index}}"> {{getItemSN(index+65)}}. {{#option}}
            </label>
        </div>
        {{/each}}
    </div>
</script>
<script id="mmcq-tpl" type="text/html">
    <div id="item_{{itemId}}" class="item_box">
        <!--题干-->
        <div class="stem"><span class="label label-badge label-primary">{{index}}</span> {{getStem(itemStem)}}</div>
        <!--选项-->
        {{each itemOption as option index}}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{itemId}}" value="{{index}}"> {{getItemSN(index+65)}}. {{#option}}
            </label>
        </div>
        {{/each}}
    </div>
</script>
<script id="mm-tpl" type="text/html">
    <div id="item_{{itemId}}" class="item_box">
        <div class="stem"><span class="label label-badge label-primary">{{index}}</span></div>
        <table width="100%">
            <tr>
                <td width="50%" style="padding-right:10px;">
                    <!--题干-->
                    {{each itemStem as stem}}
                    <div class="input-group">
                        <span class="input-group-addon" for="{{itemId}}">{{stem}}</span>
                        <select class="form-control" name="{{itemId}}">
                            <option value=""></option>
                            {{each itemOption as option i}}
                            <option value="{{i}}">{{getItemSN(i+65)}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/each}}
                </td>
                <td width="50%" style="padding-left:10px;">
                    <!--选项-->
                    {{each itemOption as option i}}
                    <div>
                        <label>
                            <span> {{getItemSN(i+65)}}. {{option}}</span>
                        </label>
                    </div>
                    {{/each}}
                </td>
            </tr>
        </table>
    </div>
</script>
<script id="sequencing-tpl" type="text/html">
    <div class="item_box">
        <span class="label label-badge label-primary">{{index}}</span>
        <div class="list-group sortableList" id="{{itemId}}">
            {{each itemStem as stem i}}
            <div class="list-group-item" order="{{i}}"><i class="icon-move"></i>{{#stem}}</div>
            {{/each}}
        </div>
    </div>
</script>
<script id="examInfo-tpl" type="text/html">
    <div class="alert alert-success with-icon">
        <i class="icon-info-sign"></i>
        <div class="content">
            <h3>考查技能： {{getSkillLabel(skill)}}</h3>
            <h3>考试时长：{{duration}} 分钟</h3>
            <h3>考试有效期： {{turnDate(beginDate)}} ~ {{turnDate(endDate)}}</h3>
            <h3>注意事项：</h3>
                <p style="text-indent:2em" class="text-important h4">考试共分两部分，第一部分提交以后不能返回重做，考试总计时约{{duration}}分钟，请合理安排考试时间！ </p>
                <p style="text-indent:2em" class="text-important h4">{{attentions}}</p>
        </div>
    </div>
</script>
</body>
</html>
