<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>用户管理</title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- 引入共有的css -->
<script src="js/style.js"></script>
<link href="lib/uploader/zui.uploader.min.css" type="text/css" rel="stylesheet">
</head>
<body>
 <div id="header"></div>
 <div id="main">
     <div id="students-container" class="container">
       <div id="students-search" class="row"  style="margin-top: 20px;margin-bottom: 20px;">
         <div class="col-sm-2">
             <select id="majorSelect" class="form-control"><option value="">全部专业</option></select>
         </div>
         <div class="col-sm-2">
             <select id="realClassSelect" class="form-control"><option value="">全部班级</option></select>
         </div>
         <div class="col-sm-3">
              <div class="input-group">
                   <span class="input-group-addon"><i class="icon icon-search"></i></span>
                   <input type="text" class="form-control" placeholder="请输入姓名" id="search-name"> 
                   <span class="input-group-btn">
                      <button class="btn btn-default" type="button" onclick="getUsers();">搜索</button>
                   </span>
              </div>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-success" type="button" onclick="showUserModal(-1,1);">创建学生</button>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-success" type="button" onclick="showUserModal(-1,2);">创建教师</button>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-success" type="button" onclick="showUploader(1);">导入学生</button>
          </div>
          <div class="col-sm-1">
              <button class="btn btn-success" type="button" onclick="showUploader(2);">导入教师</button>
          </div>
       </div> 
       <div>
         <table class="table table-hover table-fixed" id="users-table" data-func="getUsers">
          <thead>
            <tr>
               <th style="text-align: center;width:4%;">序号</th>
               <th style="width:10%;">用户名<i class="sort-flag icon icon-sort btn-link" data-sortkey="user_login_name"></i></th>
               <th style="width:8%;">姓名<i class="sort-flag icon icon-sort btn-link" data-sortkey="user_name"></i></th>
               <th style="width:6%;">角色<i class="sort-flag icon icon-sort btn-link" data-sortkey="role_id"></i></th>
               <th style="text-align: center;width:6%;">性别<i class="sort-flag icon icon-sort btn-link" data-sortkey="sex"></i></th>
               <th style="text-align: center;width:6%;">专业<i class="sort-flag icon icon-sort btn-link" data-sortkey="major"></i></th>
               <th style="text-align: center;width:6%;">年级<i class="sort-flag icon icon-sort btn-link" data-sortkey="real_grade"></i></th>
               <th style="text-align: center;width:6%;">班级<i class="sort-flag icon icon-sort btn-link" data-sortkey="real_class"></i></th>
               <th style="text-align: center;width:10%;">操作</th>
            </tr>
          </thead>
          <tbody id="users"></tbody>
        </table>
        <div style="width:90%; margin:auto;"><div id="kkpager"></div></div>
       </div>
     </div>
     
     <div id="students-uploader" class="container" style="display: none;">
          <div class="row">
              <a href="javascript:goback();" class="goback" id="backId">返回</a>
          </div>
          <div style="margin-top: 20px;margin-bottom: 20px;">
              <div class="alert alert-success with-icon alert-dismissable">
                  <i class="icon icon-info-sign"></i>
                  <div class="content"><h4>导入学生账号，内容要求如下：</h4><hr>
                    <ul>
                      <li>学生编号不能为空,且长度不能超过44个字符。</li>
                      <li>姓名不能为空,且长度不能超过32个字符。</li>
                      <li>性别不能为空,且只能填写“男”或“女”。</li>
                      <li>专业不能为空,且长度不能超过32个字符。</li>
                      <li>年级不能为空,且长度不能超过4个字符。</li>
                      <li>班级不能为空,且长度不能超过32个字符。</li>
                    </ul>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
              <div class="alert alert-warning with-icon alert-dismissable">
                  <i class="icon icon-star"></i>
                  <div class="content">
                    <ul>
                      <li>学校编号和学生编号共同组成用户名，所以学生编号必须是唯一标识用户的。</li>
                      <li>用户默认密码为123456。</li>
                    </ul>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
              
              <div id="uploaderStudent" class="uploader">
                 <div class="uploader-message text-center">
                     <div class="content"></div>
                     <button type="button" class="close">×</button>
                 </div>
                 <div class="uploader-files file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                 <div class="uploader-actions">
                     <a href="template/students.xlsx" class="btn btn-link"> <i class="icon icon-download-alt"></i> 下载模板</a>
                     <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 上传文件</button>
                 </div>
             </div>
             <div id="messages-student" class="alert alert-danger"></div>
          </div>
      </div>
      <div id="teachers-uploader" class="container" style="display: none;">
          <div class="row">
              <a href="javascript:goback();" class="goback" id="backId">返回</a>
          </div>
          <div style="margin-top: 20px;margin-bottom: 20px;">
              <div class="alert alert-success with-icon alert-dismissable">
                  <i class="icon icon-info-sign"></i>
                  <div class="content"><h4>导入教师账号,内容要求如下：</h4><hr>
                    <ul>
                      <li>教师编号不能为空,且长度不能超过44个字符。</li>
                      <li>姓名不能为空,且长度不能超过32个字符。</li>
                      <li>性别不能为空,且只能填写“男”或“女”。</li>
                      <li>邮箱地址不能为空,正确格式为email@mail.com。</li>
                      <li>手机号码不能为空,正确格式为18766226573。</li>
                    </ul>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
              <div class="alert alert-warning with-icon alert-dismissable">
                  <i class="icon icon-star"></i>
                  <div class="content">
                    <ul>
                      <li>学校编号和教师编号共同组成用户名，所以教师编号必须是唯一标识用户的。</li>
                      <li>用户默认密码为123456。</li>
                    </ul>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
              <div id="uploaderTeacher" class="uploader">
                 <div class="uploader-message text-center">
                     <div class="content"></div>
                     <button type="button" class="close">×</button>
                 </div>
                 <div class="uploader-files file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                 <div class="uploader-actions">
                      <a href="template/teachers.xlsx" class="btn btn-link"> <i class="icon icon-download-alt"></i> 下载模板</a>
                      <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 上传文件</button>
                 </div>
              </div>
              <div id="messages-teacher" class="alert alert-danger"></div>
          </div>
      </div>
      
      <!-- 添加、修改用户信息 对话框HTML -->
      <div class="modal fade" id="studentModal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                      </button>
                      <h4 class="modal-title">学生信息</h4>
                  </div>
                  <div class="modal-body">
                      <form id="student-form" class="form-horizontal">
                          <input type="hidden" id="s-user-id" name="userId" value="">
                          <input type="hidden" id="s-role-id" name="roleId" value="1">
                          <input type="hidden" id="s-login-name" name="loginName" value="">
                          <div class="form-group">
                              <label for="s-user-code" class="col-sm-3 control-label required">用户名</label>

                              <div class="col-sm-8">
                                  <div class="input-group">
                                    <input type="text" id="s-school-id" class="form-control" placeholder="学校编号" disabled="disabled">
                                    <span class="input-group-addon fix-border fix-padding"></span>
                                    <input type="text" id="s-user-code" class="form-control" placeholder="用户编号">
                                  </div>
                              </div>
                          </div>    
                          <div class="form-group">
                              <label for="s-name" class="col-sm-3 control-label required">姓名</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="s-name" name="name" maxlength="32" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="s-sex" class="col-sm-3 control-label required">性别</label>

                              <div class="col-sm-8">
                                  <select id="s-sex" name="sex" class="form-control"></select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="s-major" class="col-sm-3 control-label required">专业</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="s-major" name="major" maxlength="32" required>
                              </div>
                          </div>
                           <div class="form-group">
                              <label for="s-real-grade" class="col-sm-3 control-label required">年级</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="s-real-grade" name="realGrade" maxlength="4" required>
                              </div>
                          </div>
                           <div class="form-group">
                              <label for="s-real-class" class="col-sm-3 control-label required">班级</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="s-real-class" name="realClass" maxlength="32" required>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="button" class="btn btn-primary" onclick="saveStudent();">保存</button>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- 添加、修改用户信息 对话框HTML -->
      <div class="modal fade" id="teacherModal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                      </button>
                      <h4 class="modal-title">教师信息</h4>
                  </div>
                  <div class="modal-body">
                      <form id="teacher-form" class="form-horizontal">
                          <input type="hidden" id="t-user-id" name="userId" value="">
                          <input type="hidden" id="t-role-id" name="roleId" value="2">
                          <input type="hidden" id="t-login-name" name="loginName" value="">
                          <div class="form-group">
                              <label for="t-user-code" class="col-sm-3 control-label required">用户名</label>

                              <div class="col-sm-8">
                                  <div class="input-group">
                                    <input type="text" id="t-school-id" class="form-control" placeholder="学校编号" disabled="disabled">
                                    <span class="input-group-addon fix-border fix-padding"></span>
                                    <input type="text" id="t-user-code" class="form-control" placeholder="用户编号">
                                  </div>
                              </div>
                          </div>    
                          <div class="form-group">
                              <label for="t-name" class="col-sm-3 control-label required">姓名</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="t-name" name="name" maxlength="32" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="t-sex" class="col-sm-3 control-label required">性别</label>

                              <div class="col-sm-8">
                                  <select id="t-sex" name="sex" class="form-control"></select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="t-email" class="col-sm-3 control-label required">邮箱地址</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="t-email" name="email" maxlength="32" required>
                              </div>
                          </div>
                           <div class="form-group">
                              <label for="t-phone-number" class="col-sm-3 control-label required">手机号码</label>

                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="t-phone-number" name="phoneNumber" maxlength="11" required>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="button" class="btn btn-primary" onclick="saveTeacher();">保存</button>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- 用户详细信息 对话框HTML -->
      <div class="modal fade" id="userDetailedInfoModal">
          <div class="modal-dialog" style="width: 800px;">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                      </button>
                      <h4 class="modal-title">用户详细信息</h4>
                  </div>
                  <div class="modal-body" style="margin-right: 40px;"></div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  </div>
              </div>
          </div>
      </div>
 </div>
 <div id="footer" class="text-center"></div>

 <!-- js文件放底部 -->
 <!-- 共有的js引用commos.js -->
 <script src="js/common.js"></script>
 <!--  各个页面单独用的js 各自引入-->
 <script src="lib/uploader/zui.uploader.min.js" type="text/javascript"></script> 
 <script src="js/sort_listener_events.js" type="text/javascript"></script>
 <script id="users-template" type="text/html">
     {{if users!=null && users.length>0}}
        {{each users as user i}}
        <tr>
           <td style="text-align: center;">{{user.order}}</td>
           <td><button class="btn btn-mini btn-link" onclick="showDetailedInfoModal({{i}},{{user.roleId}});" title="查看用户详细信息">{{user.userId}}</button></td>
           <td>{{user.name}}</td>
           <td>{{getRoleLabel(user.roleId)}}</td>
           <td style="text-align: center;">{{getSexLabel(user.sex)}}</td>
           <td style="text-align: center;">{{user.major}}</td>
           <td style="text-align: center;">{{user.realGrade}}</td>
           <td style="text-align: center;">{{user.realClass}}</td>
           <td style="text-align: center;">
              <button class="btn btn-mini {{if user.roleId==3}}disabled{{/if}}" onclick="showUserModal({{i}},{{user.roleId}});" title="修改">修改</button>
              <button class="btn btn-mini" onclick="resetPassword('{{user.userId}}');" title="重置密码">重置密码</button>
           </td>
        </tr>
        {{/each}}
    {{else}}
       <tr><td colspan="9" style="text-align: center;" class="danger">对不起！没有找到您要的数据。</td></tr>
    {{/if}}
 </script>
 <script id="user-info-template" type="text/html">
 <div class="form-horizontal">
     <div class="form-group">
         <label class="col-sm-2 control-label">用&nbsp;户&nbsp;名</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.loginName}}" disabled>
         </div>
         <label class="col-sm-2 control-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.name}}" disabled>
         </div>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">角&nbsp;&nbsp;&nbsp;&nbsp;色</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{getRoleLabel(user.roleId)}}" disabled>
         </div>
         <label class="col-sm-2 control-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{getSexLabel(user.sex)}}" disabled>
         </div>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">民&nbsp;&nbsp;&nbsp;&nbsp;族</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.nation}}" disabled>
         </div>
         <label class="col-sm-2 control-label">专&nbsp;&nbsp;&nbsp;&nbsp;业</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.major}}" disabled>
         </div>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">年&nbsp;&nbsp;&nbsp;&nbsp;级</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.realGrade}}" disabled>
         </div>
         <label class="col-sm-2 control-label">班&nbsp;&nbsp;&nbsp;&nbsp;级</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.realClass}}" disabled>
         </div>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">身份证号</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.identityCard}}" disabled>
         </div>
         <label class="col-sm-2 control-label">手机号码</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.phoneNumber}}" disabled>
         </div>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">邮箱地址</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.email}}" disabled>
         </div>
         <label class="col-sm-2 control-label">最后登录时间</label>
         <div class="col-sm-4">
           <input type="text" class="form-control" value="{{user.lastLoginTime}}" disabled>
         </div>
     </div>
 </div>
 </script>
 <script type="text/javascript">
          var fileTemplate ='<div class="file"><div class="file-progress-bar"></div>'
              +'<div class="file-wrapper"><div class="file-icon"><i class="icon icon-file-o"></i></div>'
              +'<div class="content"><div class="file-name"></div><div class="file-size small text-muted">0KB</div></div>'
              +'<div class="actions"><div class="file-status" data-toggle="tooltip"><i class="icon"></i> <span class="text"></span></div>'
              +'<a data-toggle="tooltip" class="btn btn-link btn-download-file" target="_blank"><i class="icon icon-download-alt"></i></a>'
              +'<button type="button" data-toggle="tooltip" class="btn btn-link btn-reset-file" title="Repeat"><i class="icon icon-repeat"></i></button>'
              +'<button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-delete-file"><i class="icon icon-trash text-danger"></i></button>'
              +'</div></div></div>';
          var uploaderOptions = {
             file_data_name : 'file',
             limitFilesCount : 1,
             multi_selection : false,
             autoUpload : true,
             rename:false,
             fileTemplate:fileTemplate,
             removeUploaded:true,
             filters : {
                 mime_types : [ {
                     title : 'excel文件',
                     extensions : 'xls,xlsx'
                 } ],
                 max_file_size : '10mb',
                 prevent_duplicates : false// 允许上传重复文件
             }
         };
        $(function() {
            $('#header').load('header.html');
            $('#footer').load('footer.html');

            $("select#majorSelect").chosen({
                no_results_text: '没有找到',
                disable_search_threshold: 10,
                search_contains: true
            }).on('change', function(){
                getUsers();
                getRealClassSelectList('realClassSelect');
            });
            $("select#realClassSelect").chosen({
                no_results_text: '没有找到',
                disable_search_threshold: 10,
                search_contains: true
            }).on('change', function(){
                getUsers();
            });
            
            getMajorSelectList('majorSelect');
            getUsers();
        });
        
        template.helper('getSexLabel', function (sex) {
            if (sex == 1) {
                return '女';
            } else if (sex == 2) {
                return '男';
            }
        });
        
        template.helper('getRoleLabel', gz.getRoleLabel);
        
        function showUploader(flag){
            $("#students-container").hide();
            if(flag==1){
                $("#students-uploader").show();
                $('#uploaderStudent').uploader($.extend(uploaderOptions,
                 { url : 'users/students?userId='+$.cookie(cookieUserIdKey)+"&token="+$.cookie(cookieTokenKey),
                   responseHandler : function(responseObject, file) {
                       $("#messages-student").show();
                       var result = JSON.parse(responseObject.response);
                       if (result.status != 200) {
                           $("#messages-student").html('');
                           $.each( result.data, function(i, n){
                             $("#messages-student").append(n+"<br>");
                           });
                           return '上传失败。服务器返回了一个错误：' + result.msg;
                       }else{
                           $("#messages-student").html(result.msg);
                       }
                   },
                   onInit:function(){
                       $("#messages-student").html('');
                       $(".uploader .uploader-files").html('');
                       $(".uploader .content").html('');
                       $("#messages-student").hide();
                   },
                   onFilesRemoved:function(){
                       $("#messages-student").html('');
                       $("#messages-student").hide();
                   }
                }));
            }else{
                $("#teachers-uploader").show();
                $('#uploaderTeacher').uploader($.extend(uploaderOptions,
                  { url : 'users/teachers?userId='+$.cookie(cookieUserIdKey)+"&token="+$.cookie(cookieTokenKey),
                    responseHandler : function(responseObject, file) {
                        $("#messages-teacher").show();
                        var result = JSON.parse(responseObject.response);
                        if (result.status != 200) {
                            $("#messages-teacher").html('');
                            $.each( result.data, function(i, n){
                              $("#messages-teacher").append(n+"<br>");
                            });
                            return '上传失败。服务器返回了一个错误：' + result.msg;
                        }else{
                            $("#messages-teacher").html(result.msg);
                        }
                    },
                    onInit:function(){
                        $("#messages-teacher").html('');
                        $(".uploader .uploader-files").html('');
                        $(".uploader .content").html('');
                        $("#messages-teacher").hide();
                    },
                    onFilesRemoved:function(){
                        $("#messages-teacher").html('');
                        $("#messages-teacher").hide();
                    }
                }));
            }
        }
        
        function goback(){
            var uploaderStudent = $('#uploaderStudent').data('zui.uploader');
            var uploaderTeacher = $('#uploaderTeacher').data('zui.uploader');
            if(typeof uploaderStudent !='undefined' && uploaderStudent!=null){
                uploaderStudent.destroy();
            }
            if(typeof uploaderTeacher !='undefined' && uploaderTeacher!=null){
                uploaderTeacher.destroy();
            }
            $("#students-uploader").hide();
            $("#teachers-uploader").hide();
            $("#students-container").show();
            getUsers();
        }
        
        <!--获取专业下拉列表-->
        function getMajorSelectList(selectId){
            $.ajax({
                type: 'GET',
                url: serverUrl+'users/majors',
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        var selec = $("#"+selectId);
                        selec.empty();
                        selec.append("<option value=''>全部专业</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value+"'>"+value+"</option>");
                        });
                        
                        if(selectId=="majorSelect"){
                            $("#"+selectId).trigger('chosen:updated');
                        }
                    } else {
                        new $.zui.Messager('获取专业下拉列表失败', zuiMessager.fail).show();
                    }
                }
            });
        }
        <!--获取班级下拉列表-->
        function getRealClassSelectList(selectId){
            $.ajax({
                type: 'GET',
                url: serverUrl+'users/realClasses',
                data:{major:$('#majorSelect option:selected').val()},
                dataType:"json",
                async: true,
                beforeSend: $.beforeSend,
                success:function(data){
                    if (data['status'] < 400) {
                        var selec = $("#"+selectId);
                        selec.empty();
                        selec.append("<option value=''>全部班级</option>");
                        $.each(data['data'],function(i,value){
                            selec.append("<option value='"+value+"'>"+value+"</option>");
                        });
                        if(selectId=="realClassSelect"){
                            $("#"+selectId).trigger('chosen:updated');
                        }
                    } else {
                        new $.zui.Messager('获取班级下拉列表失败', zuiMessager.fail).show();
                    }
                }
            });
        }
        
        <!--获取用户列表-->
        var users;
        function getUsers(n,size) {
            var pageNo = 1;
            if(typeof(n) != "undefined" && n != null){
                pageNo = n;
            }
            var pageSize = gz.defaultPageSize;
            if(typeof(size) != "undefined" && size != null){
                pageSize = size;
            }
            var sortKey = $("table#users-table").data("sortkey");
            var sortType = $("table#users-table").data("sorttype");
            $.ajax({
                type: "GET",
                data:{name : $.trim($('#search-name').val()), 
                      major:$('#majorSelect option:selected').val(),
                      realClass:$('#realClassSelect option:selected').val(),
                      pageNo:pageNo,
                      pageSize:pageSize,
                      sortKey:sortKey,
                      sortType:sortType},
                url: serverUrl+'users',
                beforeSend: $.beforeSend,
                success: function (data) {
                   if (data['status'] < 400) {
                      users = data['data']['list'];
                      $('#users').html(template('users-template', {users: users}));
                      //分页控件
                      var totalRecords = data['data']['count'];
                      initPage(pageNo, totalRecords, pageSize, getUsers);
                   }else{
                       new $.zui.Messager('获取用户列表失败', zuiMessager.fail).show();
                   }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--显示用户信息的操作窗口-->
        var schoolId = $.cookie(cookieSchoolIdKey);
        function showUserModal(index,role) {
            if(role== Role.Student.key){
                document.getElementById('student-form').reset();
                if (index === -1) {//新增
                    $('#s-user-id').val('');
                    $('#s-login-name').val('');
                    getSexSelect('s-sex');
                    $('#s-school-id').val(schoolId);
                    $('#s-user-code').attr("disabled",false);
                } else {
                    $('#s-user-id').val(users[index]['userId']);
                    $('#s-login-name').val(users[index]['loginName']);
                    $('#s-name').val(users[index]['name']);
                    $('#s-major').val(users[index]['major']);
                    $('#s-real-grade').val(users[index]['realGrade']);
                    $('#s-real-class').val(users[index]['realClass']);
                    getSexSelect('s-sex',users[index]['sex']);
                    $('#s-school-id').val(users[index]['userId'].substring(0,6));
                    $('#s-user-code').val(users[index]['userId'].substring(6));
                    $('#s-user-code').attr("disabled",true);
                }
                $('#studentModal').modal('show');
            }else if(role == Role.Teacher.key){
                document.getElementById('teacher-form').reset();
                if (index === -1) {//新增
                    $('#t-user-id').val('');
                    $('#t-login-name').val('');
                    getSexSelect('t-sex');
                    $('#t-school-id').val(schoolId);
                    $('#t-user-code').attr("disabled",false);
                } else {
                    $('#t-user-id').val(users[index]['userId']);
                    $('#t-login-name').val(users[index]['loginName']);
                    $('#t-name').val(users[index]['name']);
                    $('#t-email').val(users[index]['email']);
                    $('#t-phone-number').val(users[index]['phoneNumber']);
                    getSexSelect('t-sex',users[index]['sex']);
                    $('#t-school-id').val(users[index]['userId'].substring(0,6));
                    $('#t-user-code').val(users[index]['userId'].substring(6));
                    $('#t-user-code').attr("disabled",true);
                }
                $('#teacherModal').modal('show');
            }
        }
        
        function getSexSelect(selectId,sex){
            var selec = $("#"+selectId);
            selec.empty();
            if(typeof(sex) != "undefined" && sex == 1 ){
                selec.append("<option value='1' selected>女</option>");
                selec.append("<option value='2'>男</option>");
            }else if(typeof(sex) != "undefined" && sex == 2 ){
                selec.append("<option value='1'>女</option>");
                selec.append("<option value='2' selected>男</option>");
            }else{
                selec.append("<option value='1'>女</option>");
                selec.append("<option value='2'>男</option>");
            }
        }
        
        <!--保存学生信息-->
        function saveStudent(){
            if (!$.trim($('#s-user-code').val())) {
                new $.zui.Messager('请填写用户编号', zuiMessager.fail).show();
                $('#s-user-code').focus();
                return;
            }
            if (!$.trim($('#s-name').val())) {
                new $.zui.Messager('请填写姓名', zuiMessager.fail).show();
                $('#s-name').focus();
                return;
            }
            if (!$.trim($('#s-sex option:selected').val())) {
                new $.zui.Messager('请选择性别', zuiMessager.fail).show();
                $('#s-sex').focus();
                return;
            }
            if (!$.trim($('#s-major').val())) {
                new $.zui.Messager('请填写专业', zuiMessager.fail).show();
                $('#s-major').focus();
                return;
            }
            if (!$.trim($('#s-real-grade').val())) {
                new $.zui.Messager('请填写年级', zuiMessager.fail).show();
                $('#s-real-grade').focus();
                return;
            }
            if (!$.trim($('#s-real-class').val())) {
                new $.zui.Messager('请填写班级', zuiMessager.fail).show();
                $('#s-real-class').focus();
                return;
            }
            $('#s-login-name').val(schoolId+$('#s-user-code').val());
            var typeParam;
            var urlParam;
            var pageNo;
            if (!$('#s-user-id').val()) {
                typeParam = 'POST';
                urlParam = 'users';
                pageNo = 1;
            } else {
                typeParam = 'PUT';
                urlParam = 'users/' + $('#s-user-id').val();
                pageNo = kkpager.pno;//更新数据后刷新当前页
            }
            $.ajax({
                type: typeParam,
                url: serverUrl+urlParam,
                data: JSON.stringify($('#student-form').serializeObject()),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        if (data['status'] == 200) {
                            new $.zui.Messager(data['msg'],zuiMessager.fail ).show();
                        }else{
                            $('#studentModal').modal('hide');
                            new $.zui.Messager('保存学生成功',zuiMessager.success ).show();
                            getUsers(pageNo);
                        }
                    } else {
                        new $.zui.Messager('保存学生失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        
        <!--保存教师信息-->
        function saveTeacher(){
            if (!$.trim($('#t-user-code').val())) {
                new $.zui.Messager('请填写用户编号', zuiMessager.fail).show();
                $('#t-user-code').focus();
                return;
            }
            if (!$.trim($('#t-name').val())) {
                new $.zui.Messager('请填写姓名', zuiMessager.fail).show();
                $('#t-name').focus();
                return;
            }
            if (!$.trim($('#t-sex option:selected').val())) {
                new $.zui.Messager('请选择性别', zuiMessager.fail).show();
                $('#t-sex').focus();
                return;
            }
            if (!$.trim($('#t-email').val())) {
                new $.zui.Messager('请填写邮箱地址', zuiMessager.fail).show();
                $('#t-email').focus();
                return;
            }else{
                var emailReg=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if(!emailReg.test($.trim($('#t-email').val()))){
                    new $.zui.Messager('邮箱格式不正确', zuiMessager.fail).show();
                    $('#t-email').focus();
                    return;
                }
            }
            if (!$.trim($('#t-phone-number').val())) {
                new $.zui.Messager('请填写手机号码', zuiMessager.fail).show();
                $('#t-phone-number').focus();
                return;
            }else{
                var phoneReg=/^1[34578]\d{9}$/;
                if(!phoneReg.test($.trim($('#t-phone-number').val()))){
                    new $.zui.Messager('手机号格式不正确', zuiMessager.fail).show();
                    $('#t-phone-number').focus();
                    return;
                }
            }
            $('#t-login-name').val(schoolId+$('#t-user-code').val());
            var typeParam;
            var urlParam;
            var pageNo;
            if (!$('#t-user-id').val()) {
                typeParam = 'POST';
                urlParam = 'users';
                pageNo = 1;
            } else {
                typeParam = 'PUT';
                urlParam = 'users/' + $('#t-user-id').val();
                pageNo = kkpager.pno;//更新数据后刷新当前页
            }
            $.ajax({
                type: typeParam,
                url: serverUrl+urlParam,
                data: JSON.stringify($('#teacher-form').serializeObject()),
                contentType:"application/json",
                dataType: 'json',
                async: true,
                beforeSend: $.beforeSend,
                success: function (data) {
                    if (data['status'] < 400) {
                        if (data['status'] == 200) {
                            new $.zui.Messager(data['msg'],zuiMessager.fail ).show();
                        }else{
                            $('#teacherModal').modal('hide');
                            new $.zui.Messager('保存教师成功',zuiMessager.success ).show();
                            getUsers(pageNo);
                        }
                    } else {
                        new $.zui.Messager('保存教师失败', zuiMessager.fail).show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    gz.logger(textStatus);
                    gz.logger(errorThrown);
                }
            });
        }
        <!--重置密码-->
        function resetPassword(userId){
            bootbox.confirm('确认重置密码吗？', function(result){
                if(result){
                    $.ajax({
                        type: 'PUT',
                        url: serverUrl+'users/password/' + userId,
                        data: JSON.stringify($('#student-form').serializeObject()),
                        contentType:"application/json",
                        dataType: 'json',
                        async: true,
                        beforeSend: $.beforeSend,
                        success: function (data) {
                            if (data['status'] < 400) {
                                new $.zui.Messager('重置密码成功',zuiMessager.success ).show();
                            } else {
                                new $.zui.Messager('重置密码失败', zuiMessager.fail).show();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            gz.logger(textStatus);
                            gz.logger(errorThrown);
                        }
                    });
                }else{
                    return;
                }
            });
        }
        <!--显示用户详细信息-->
        function showDetailedInfoModal(index,role){
            $('#userDetailedInfoModal').modal('show');
            $('#userDetailedInfoModal .modal-body').html(template('user-info-template', {user: users[index]}));
        }
    </script>
</body>
</html>
