<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!-- css文件 放头部-->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- 引入共有的css -->
<script src="js/style.js"></script>
</head>
<body>
    <div id="header"></div>
    <div id="main">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-tab href="#tabContent1" onclick="getMyExamList();">未完成</a></li>
          <li><a data-tab href="#tabContent2" onclick="getMyFinishedExamList();">已完成</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabContent1">
                <div class="container ">
                    <div class="row">&nbsp;</div>
                    <div class="row" id="myExamList" style="min-height: 450px;"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabContent2">
                <div class="container">
                    <div class="row">&nbsp;</div>
                    <div class="row" id="myFinishedExamList" style="min-height: 450px;"></div>
                </div>
            </div>
        </div>
       </div>
    </div>
    <div id="footer" class="text-center"></div>

    <!-- js文件放底部 -->
    <!-- 共有的js引用commos.js -->
    <script src="js/common.js"></script>
    <!--  各个页面单独用的js 各自引入-->
    <script id="myExamList-template" type="text/html">
     <div class="col-md-12">
        <h3>{{data.semester}}考试列表({{data.semesterRange}})</h3>
     </div>
     {{if data.list!=null && data.list.length>0}}
     {{each data.list as data i}}
     <div class="col-md-4">
         <div class="card panel panel-primary">
             <div class="panel-heading"><i class="icon icon-flag"></i> {{getSkillLabel(data.skill)}}</div>
             <div class="panel-body">
                 <p>考试时间：{{data.beginDate}} ~ {{data.endDate}}</p>
                 <p>考试时长：{{data.duration}} 分钟</p>
                 <p>发 &nbsp;布&nbsp;人：{{data.publisherName}}</p>
                 <p align="center"><a class="btn btn-primary" href="javascript:goPage('{{data.examId}}', '{{data.userId}}', '{{data.skill}}');">进入测试</a>
                 </p>
             </div>
             <div class="panel-footer">
                 <div>截至时间：{{data.endDate}}</div>
             </div>
         </div>
     </div>
     {{/each}}
     {{else}}
        <div style="padding: 120px 200px;">
            <img class="nodata" src="image/nodata.png" alt="暂无数据" title="暂无数据">
        </div>
     {{/if}}
    </script>
    <script id="myFinishedExamList-template" type="text/html">
    {{if data.list!=null && data.list.length>0}}
    {{each data.list as data i}}
     <div class="col-md-4">
         <div class="card panel panel-primary">
             <div class="panel-heading"><i class="icon icon-flag"></i> {{getSkillLabel(data.skill)}}</div>
             <div class="panel-body">
                 <p>考试时间：{{data.beginDate}} ~ {{data.endDate}}</p>
                 <p>考试时长：{{data.duration}} 分钟</p>
                 <p>实际开考时间:{{data.startTime}}</p>
                 <p>实际交卷时间:{{data.submitTime}}</p>
                 <p>实际作答时长:</p>
                 <p>考试等级：{{data.grade}}</p>
                 <p align="center"><a class="btn btn-primary" href="user-report.html?paperId={{data.paperId}}">查看报告</a></p>
             </div>
             <div class="panel-footer">
                 <div>截至时间：{{data.endDate}}</div>
             </div>
         </div>
     </div>
     {{/each}}
     {{else}}
         <div style="padding: 120px 200px;">
            <img class="nodata" src="image/nodata.png" alt="暂无数据" title="暂无数据">
         </div>
     {{/if}}
    </script>
    <script type="text/javascript">
    var userId = $.cookie(cookieUserIdKey);
    $(function(){
        $('#header').load('header.html');
        $('#footer').load('footer.html');
        document.title = gz.global.title;
        getMyExamList();
    });
    
    template.helper('getSkillLabel', gz.getSkillLabel);

    function isFinishSelfEvaluation(userId, examId) {
        var flag = 0;
        $.ajax({
            url:  serverUrl + 'exams/resume_exam_info/' + examId + '/' + userId,
            type: 'POST',
            data:{},
            beforeSend: $.beforeSend,
            async: false, // 需要发送同步请求
            success: function(result){
                if(result.data){
                    flag = 1;
                }else{
                    flag = 0;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown){
                window.console.log(textStatus);
                window.console.log(errorThrown);
            }
        });
        return flag;
    }
    
    function goPage(examId, userId, skill) {
        if(skill === 'S0'){
            window.location.href = 'user-vspt.html?examId='+examId;
        }else if(isFinishSelfEvaluation(userId, examId) == 0){
            window.location.href = 'user-self-evaluation.html?examId='+ examId+ '&skill='+skill;
        }else{
            window.location.href = 'user-exam.html?examId='+ examId;
        }
    }
    
    function getMyExamList(){
        $.ajax({
            type: "GET",
            url: serverUrl+'users/'+userId+"/exams",
            data:{flag:'unfinished'},
            beforeSend: $.beforeSend,
            success: function (data) {
                $('#myExamList').html(template('myExamList-template', {data:data['data'], userId: userId}));
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                gz.logger(textStatus);
                gz.logger(errorThrown);
            }
        });
    }
    
    function getMyFinishedExamList(){
        $.ajax({
            type: "GET",
            url: serverUrl+'users/'+userId+"/exams",
            data:{flag:'finished'},
            beforeSend: $.beforeSend,
            success: function (data) {
                $('#myFinishedExamList').html(template('myFinishedExamList-template', {data:data['data']}));
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                gz.logger(textStatus);
                gz.logger(errorThrown);
            }
        });
    }
    </script>
</body>
</html>
